/*
 * "Knee" classes
 */
@include respond-to( knee-up ) {

  @each $name, $size in $grid-ratios {
  
    .knee-#{$name} {
      width: $size;
    
      .flexbox & { 
        width: auto;
        max-width: $size;
        flex-basis: $size;
      }
  
    }
  }

}

@include respond-to(knee-only) {

  .hand-only,
  .hand-down,
  .desk-up,
  .desk-only,
  .workstation-up,
  .workstation-only,
  .neckbeard-up,
  .neckbeard-only {
    display: none !important;
  }
}

/*
 * "Desk" classes
 */
@include respond-to( desk-up ) {

  @each $name, $size in $grid-ratios {

    .desk-#{$name} {
      width: $size;
    
      .flexbox & { 
        width: auto;
        max-width: $size;
        flex-basis: $size;
      }
  
    }
  }

}

@include respond-to(desk-only) {

  .hand-only,
  .hand-down,
  .knee-only,
  .knee-down,
  .workstation-up,
  .workstation-only,
  .neckbeard-up,
  .neckbeard-only {
    display: none !important;
  }
}


/*
 * "Workstation" classes
 */
@include respond-to( workstation-up ) {

  @each $name, $size in $grid-ratios {

    .workstation-#{$name} {
      width: $size;
    
      .flexbox & { 
        width: auto;
        max-width: $size;
        flex-basis: $size;
      }
  
    }
  }

}

@include respond-to(workstation-only) {

  .hand-only,
  .hand-down,
  .knee-only,
  .knee-down,
  .desk-only,
  .desk-down,
  .neckbeard-up,
  .neckbeard-only {
    display: none !important;
  }
}


/*
 * "Neckbeard" classes
 */
@include respond-to( neckbeard-up ) {

  @each $name, $size in $grid-ratios {
  
    .neckbeard-#{$name} {
      width: $size;
    
      .flexbox & { 
        width: auto;
        max-width: $size;
        flex-basis: $size;
      }
  
    }
  }

}

@include respond-to(neckbeard-only) {

  .hand-only,
  .hand-down,
  .knee-only,
  .knee-down,
  .desk-only,
  .desk-down,
  .workstation-only,
  .workstation-down {
    display: none !important;
  }
}
