- var site_url = environment == "production" ? 'http://oslc.github.io/redesign/' : '/';
p Not a whole lot to see here; just some stress tests for modules in progress

!= partial('../_listing', {site_url: site_url, listing_root: current.path[0]} )