.copy > ul, .copy > p {
  margin-bottom: 1.4375em;
  margin-top: 0px; }

.enhanced .nav, .close-nav {
  position: absolute; }

.block.icon, .block, .project-name {
  display: block; }

.icon, .inline li {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1; }

.menu .items, .inline {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px; }

.menu .items, .inline {
  list-style-type: none;
  list-style-position: initial;
  list-style-image: initial; }

.icon {
  vertical-align: top;
  background-repeat: no-repeat no-repeat; }

.toggle {
  text-align: center; }

.toggle .text {
  display: block; }

.copy li, .copy > p {
  max-width: 720px; }

.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden; }

.sr-only {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: initial;
  border-color: initial;
  clip: rect(0px 0px 0px 0px);
  height: 1px;
  margin-top: -1px;
  margin-right: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  position: absolute;
  width: 1px; }

.copy > h2 {
  font-size: 2rem;
  line-height: 1.1875; }

.image-link {
  text-decoration: none; }

html {
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

* {
  -moz-box-sizing: inherit;
       box-sizing: inherit; }

header, main, nav, section {
  display: block; }

html {
  font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif; }

body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px; }

a {
  background-image: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: transparent;
  background-position: initial initial;
  background-repeat: initial initial; }

abbr[title] {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: initial; }

strong {
  font-weight: bold; }

small {
  font-size: 80%; }

.grid {
  font-family: FreeSans, Arimo, 'Droid Sans', Helvetica, Arial, sans-serif;
  letter-spacing: -0.31em;
  word-spacing: -0.43em; }

.grid.pulled {
  margin-left: -0.6875rem;
  margin-right: -0.6875rem; }

@media only screen and (min-width: 64.0625em) {
  .grid.pulled {
    margin-left: -1.1875rem;
    margin-right: -1.1875rem; } }
.column {
  font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  zoom: 1;
  vertical-align: top;
  padding-left: 0.6875rem;
  padding-right: 0.6875rem; }

@media only screen and (min-width: 64.0625em) {
  .column {
    padding-left: 1.1875rem;
    padding-right: 1.1875rem; } }
.hand-full {
  width: 100%; }

.body {
  overflow-x: hidden;
  overflow-y: hidden;
  zoom: 1; }

.flag, .strip {
  display: table; }

.flag > .image, .flag > .body, .strip > .image, .strip > .toggle, .strip > .body {
  display: table-cell;
  vertical-align: middle; }

.flag > .body, .strip > .body {
  width: 100%; }

html {
  font-size: 100%; }

.sticky-footer-body {
  background-color: #444444; }

.copy a {
  color: #4178b4;
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition-delay: initial; }

.copy {
  line-height: 1.4375; }

.copy > :first-child {
  margin-top: 0px; }

.copy > h2 {
  font-weight: 400;
  margin-top: 0.71em;
  margin-bottom: 0.6em;
  border-left-width: 8px;
  border-left-style: solid;
  border-left-color: initial;
  padding-left: 3px;
  margin-left: -11px; }

@media only screen and (min-width: 64.0625em) {
  .copy > h2 {
    padding-left: 11px;
    margin-left: -19px; } }
.copy > h2 {
  border-top-color: #315a87;
  border-right-color: #315a87;
  border-bottom-color: #315a87;
  border-left-color: #315a87; }

.copy > ul {
  padding-left: 1.5rem; }

.copy li {
  margin-bottom: 0.375rem;
  margin-top: 0.375rem; }

.menu .item {
  padding-top: 0.6875rem;
  padding-right: 0.5rem;
  padding-bottom: 0.6875rem;
  padding-left: 0.5rem;
  display: block;
  color: #444444; }

.menu a, .menu .item {
  text-decoration: none;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition-delay: initial; }

.menu.primary {
  background-color: #3e4b5b; }

.menu.primary .item, .menu.primary a {
  color: white; }

.menu.primary .current {
  background-color: #323c49 !important; }

.inline li {
  margin-right: 11px; }

.banner {
  background-color: #3e4b5b; }

.toggle {
  text-decoration: none;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition-delay: initial; }

.toggle .text {
  color: white;
  font-size: 11px;
  line-height: 1;
  margin-top: 0.25rem; }

.banner {
  background-color: #3e4b5b;
  box-shadow: rgba(0, 0, 0, 0.15625) 0px 2px 3px;
  z-index: 5; }

.banner .toggle {
  padding-top: 0.375rem;
  padding-right: 0.6875rem;
  padding-bottom: 0.375rem;
  padding-left: 0.6875rem;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4c5c70; }

.banner .image-link {
  margin-left: 0.5rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem; }

.banner .logo-text {
  margin-left: 0.625rem; }

.logo-text {
  display: block;
  color: white; }

.project-name {
  margin-top: 0.25rem; }

abbr.grunticon-wordmark-small, abbr.grunticon-wordmark-med {
  border-bottom-width: 0px !important;
  border-bottom-style: initial !important;
  border-bottom-color: initial !important; }

.main > .header .title, .bar {
  padding-left: 11px;
  padding-right: 11px; }

@media only screen and (min-width: 64.0625em) {
  .main > .header .title, .bar {
    padding-left: 19px;
    padding-right: 19px; } }
.main {
  background-color: white; }

.main > .header {
  background-color: white;
  color: #444444;
  margin-top: 19px;
  margin-bottom: 13px; }

.main > .header .title {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 5.5px;
  padding-bottom: 5.5px;
  font-weight: normal;
  font-size: 1.6875rem;
  line-height: 1.1; }

@media only screen and (min-width: 64.0625em) {
  .main > .header .title {
    font-size: 2rem;
    line-height: 1.1875; } }
.bar {
  padding-top: 16px;
  padding-bottom: 16px; }

.footer[role="contentinfo"] a {
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition-delay: initial;
  text-decoration: none;
  color: #203c5a; }

.footer[role="contentinfo"] p {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px; }

.footer[role="contentinfo"] .social .icon {
  margin-right: 5px;
  margin-bottom: 5px; }

.footer[role="contentinfo"] .copyright {
  margin-top: 8px; }

@media only screen and (min-width: 40.0625em) {
  .knee-major {
    width: 70.72%; }

  .knee-minor {
    width: 29.28%; } }
@media only screen and (max-width: 90em) and (min-width: 64.0625em) {
  .knee-down {
    display: none !important; } }
@media only screen and (min-width: 40.0625em) {
  .off-canvas-wrap {
    position: relative; } }
.enhanced .nav {
  z-index: 2; }

@media only screen and (min-width: 40.0625em) {
  .enhanced .nav {
    width: 216px;
    top: 0px;
    bottom: 0px;
    background-color: #3e4b5b;
    box-shadow: rgba(0, 0, 0, 0.10938) 2px 0px 3px;
    overflow-x: auto;
    overflow-y: auto; }

  .enhanced .nav .panels {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px; }

  .enhanced .nav .panel {
    position: absolute;
    top: 0px;
    bottom: 0px;
    z-index: 1; } }
.enhanced .nav .logo-text {
  text-align: center;
  margin-top: 0.6875rem; }

.enhanced .nav .project-name {
  margin-bottom: 0.6875rem; }

@media only screen and (min-width: 40.0625em) {
  #main_menu {
    width: 216px;
    background-color: #3e4b5b; } }
.main {
  position: relative;
  z-index: 1; }

@media only screen and (min-width: 64.0625em) {
  .main {
    margin-left: 216px; } }
.close-nav {
  top: 0px;
  right: 0px;
  left: 0px;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.34766);
  cursor: pointer; }

/* Manual additions go here */
.js-icon-wrapper {
  height: 25px;
  width: 28px;
  position: relative;
  display: block; }
  .js-icon-wrapper .icon {
    position: absolute;
    top: 0;
    left: 0; }
    .js-icon-wrapper .icon:last-child {
      opacity: 0; }
