{!-- Single workgroup --}

{stash:embed
  context="@URI"
  file_name="viewmodels:detail"
  parse_stage="both"
  stash:_type="workgroup"
  stash:_layout="standard"
  stash:_status="open|closed"
  stash:_parents_relationships="blog|products|tutorials|resource_presentations|resource_videos|resource_articles|resource_whitepapers|resource_podcasts"
  
  {if oslc:workgroup:is_user_group}
  stash:_one_last_script="{global:assets:js}oslc.toggleUserGroupMembership.min.js"
  {/if}
}


{exp:stash:set name="main_content"}
		
	{exp:channel:entries entry_id="{structure:page:entry_id}" limit="1" {global:disable_default} }
	
		<div class="line mbl">
			
			{if workgroup_grid_misc-links}
			  <div class="unit lastUnit">
			    <div class="flag">
			    	<div class="flag-image">
			    	  <i title="Links" class="icon-font-strip-module-img icon-font-tinted mrs" data-icon="&#xe00a;"></i>
			    	</div>
			    	<div class="flag-body">
			    	  {workgroup_grid_misc-links}
			    	    <p class="mvn"><a href="{url}">{name}</a></p>
			    	  {/workgroup_grid_misc-links}
			    	</div>
			    </div>
			  </div>
			{/if}
			
		</div>{!-- .line.section-row --}

		{if workgroup_exernal-url}
      <div class="mvm">
      <a href="{workgroup_exernal-url}" class="button">
        At {exp:parse_url parts="host" omit="www."}{workgroup_exernal-url}{/exp:parse_url}
        <i data-icon="&#xe08d;"></i> 
      </a>
      </div>		
		{/if}
		
		<div class="section-row ptl">
		
			<ul role="tablist" class="line nav-tabs">
				<li class="nav-tab nav-tab-first active unit size1of3" role="decoration">
					<a id="tab1" role="tab" aria-controls="workgroup-members" href="#workgroup-members">Members</a>
				</li>
				
			</ul>
			
			<div class="tab-content">
				<div id="workgroup-members" class="tab-panel drop active in" role="tabpanel" aria-labelledby="tab1" data-tab="1">
					<h2 class="h2 onlynojs">Members</h2>
					
					
					
					<div class="line mts">
						
						{if cf-wg-new-wiki}
						
							{exp:stash:get name="contributing_members"}
						
						{/if}
						
					</div>
					
				</div>
				

			</div>
		</div>
	{/exp:channel:entries}
	
{/exp:stash:set}