{stash:embed
  context="@URI"
  file_name="viewmodels:detail:wpa"
  parse_stage="both"
  stash:_layout="standard"
}


{!-- Jump link and messages --}
{exp:stash:set name="stash-simple-body" type="variable"}
	
	{!-- Error if they're not an OSLC Member --}
	{if oslc:user:is_not_member}
		{if "{structure:page:entry_id}" != "{lv-current-wpa}"}
		<div class="callout-box callout-warning body-text">
			<p><strong>Whoa!</strong> You&rsquo;re not yet an OSLC Member!
				{exp:channel:entries entry_id="{lv-current-ma}" {global:disable_all} }
				<a class="button" href="{page_url}">Review and complete the {title}</a>
				{/exp:channel:entries}
			</p> 
		</div>	
		{/if}
	{/if}

	
	{!-- Note if they've already submitted this but they're not a member --}
	{if oslc:user:has_submitted_wpa && oslc:user:is_not_workgroup_member && freebie_last != "success"}
		<div class="callout-box body-text">
			<p><strong>Hello again!</strong> 
				You have already submitted this Workgroup Participation Agreement.
			</p> 
			<p>We&rsquo;re reviewing the information that you gave us and we'll get back to you soon!</p>
		</div>	
	{/if}

	{!-- Success messages (or, if not total success, at least they submitted the form) --}
	{if "{freebie_last}" == "success"}
		<div class="callout-box success">
			<p><strong>Thanks!</strong> 
			
				{!-- Check if there's a completed WPA form for them. --}
				{if oslc:user:has_submitted_wpa}
					{!-- If everything went through OK and they're now a member for this workgroup, show them this message --}
					{if oslc:user:is_workgroup_member}
						Now check out the <a href="{path='wiki'}">wikis</a>. You can edit the following wikis now:
					{if:else}
						After we verify your Corporate Authorization form, we will grant you access to the wiki for the workgroup. You can currently edit the following wikis:
					{/if}
				{if:else} {!-- No one should really see this, but it doesn't hurt to have a message --}
					Err, actually I don't have a saved record. Maybe something went wrong? In the meantime, you can edit the following wikis:
				{/if}
			
			</p>

			{exp:member_categories:categories errors="off" category_group="1|4"}
				{if '{count}' == 1}<ul>{/if}
				<li><a href="{path='wiki/{category_url_title}'}">{category_name}</a></li>
				{if '{count}' == '{total_results}'}</ul>{/if}
				
			{/exp:member_categories:categories}

		</div>
	{/if}
		
{/exp:stash:set}

{!-- Build bulk of the content (the form is currently in _embeds/_body) --}
{exp:stash:set name="main_content" type="variable"}

	{!-- Corporate Auth for EU Companies; only under very limited circumstances --}
	{if structure:page:entry_id != lv-current-wpa && oslc:member:is_representative && freebie_last != "success" && oslc:user:is_not_workgroup_member && oslc:user:has_not_submitted_wpa}
		
		<div id="eu-auth-1" class="do-not-print">
			<p>Is the Entity that you are representing (&ldquo;{oslc:member:organization}&rdquo;) <strong>incorporated <em>and headquartered</em> (at the highest level)</strong> in a country in the European Union?</p>
			<p class="deemph"><strong>Example:</strong> <a href="http://en.wikipedia.org/wiki/Boeing">Boeing</a> is a multinational company with subsidiaries in many counties; however, Boeing is headquartered at the highest level in the United States.</p>
			<p>
			 <a class="button" href="#" data-toggle="reveal" data-show-selector="#wpa-full-content, #sign_agreement_form, #wpa_scroll_down" data-hide-selector="#eu-auth-1" data-check-selector="#no_entity_is_eu" data-prevent-default="y">{oslc:member:organization} is incorporated and headquartered outside of the European Union</a> 
			</p>
			<p>
			 <a data-toggle="reveal" data-hide-on-init="#wpa-full-content, #sign_agreement_form, #eu-auth-2, #wpa-corp-auth, #wpa_scroll_down" data-show-selector="#eu-auth-2" data-hide-selector="#eu-auth-1" class="button" data-prevent-default="y" href="#">{oslc:member:organization} is incorporated and headquartered in the European Union</a>
			</p>
		</div>
		
		<div id="eu-auth-2" class="do-not-print">
			<p>Has that Entity completed a <strong>Corporate Authorization form</strong>, authorizing you to electronically sign a WPA on behalf of the Entity for this Workgroup?</p>
			
			<div class="line">
				<div class="unit">
					<div class="gutter">
						<p>
						  <a href="#" data-toggle="reveal" data-show-selector="#wpa-full-content, #wpa-corp-auth" data-hide-selector="#eu-auth-2" class="button" data-prevent-default="y">No: show me the Corporate Authorization Form</a>
						</p>
					</div>
				</div>
				<div class="unit lastUnit">
				  <p>
				  <a href="#" class="button" data-toggle="reveal" data-show-selector="#wpa-full-content, #sign_agreement_form, #wpa_scroll_down, #wpa_attach_cfa_section" data-hide-selector="#eu-auth-2" data-check-selector="#yes_entity_is_eu" data-prevent-default="y">Yes: I have a completed Corporate Authorization form</a> <span class="mls">(Or you sent it to us already)</span>
				  </p>
				  <p class="deemph"><strong> A note on this:</strong> the Corporate Authorization form is something that you would have printed, had your manager complete, scanned, and sent to us. Trust me, you would know if you&rsquo;d gone through that.
				  </p>

				</div>
				<p>
				  <a href="#" data-toggle="reveal" data-hide-selector="#eu-auth-2" data-show-selector="#eu-auth-1" data-prevent-default="y">Oops! Send me back, please.</a>
				</p>
			</div>
			
			<div class="size3of5 callout-box">
				<p><strong>What's going on here?</strong> To complete the Workgroup Participation Agreement you must provide an electronic signature, which some countries in the European Union do not accept as a valid signature.</p>
				<p>If you are representing an entity that is headquartered in the European Union, you must print, complete, and send us a Corporate Authorization form that states that you are authorized to complete this Workgroup Participation Agreement.</p>
				<p>If you are representing an entity that is not headquartered in the EU, <a href="#" data-toggle="reveal" data-hide-selector="#eu-auth-2" data-show-selector="#eu-auth-1" data-prevent-default="y">Go back and click <b>{exp:stash:get name='oslc_org'} is incorporated and headquartered outside of the European Union</b></a> </p>
			</div>

			
		</div>
		
		<div id="wpa-corp-auth" class="body-text">
		
			<div class="callout-box callout-warning">
				<p><strong>Because of laws in the European Union restricting the use of Electronic Signatures, you have some <em>physical</em> paperwork to complete</strong></p>
				<p> <a href="#" onclick="window.print();">Print out this page</a> and have your manager fill it out.</a></p>
				<p>Scan the completed form and email it to <a href="mailto:webmaster@open-services.net">the site administrator</a> with the subject "Signed Corporate Authorization form".</p>
				<p>You can also <a href="/{freebie_original_uri}">refresh this page</a> and attach the scanned form.</p>
				<p><a class="button" href="#" onclick="window.print()">Print this page</a></p>
			</div>
		

		
		</div>
			
	{/if}
	
	<div id="wpa-full-content">
		
		
	</div>	
{/exp:stash:set}