<h2 class="base-only">{title} Charter</h2>

<h3>Scope</h3>
{charter:cf-wgcharter-w-scope}

<h3>Deliverables</h3>
{charter:cf-wgcharter-w-deliverables}

{charter:if "{charter:cf-wgcharter-w-capabilities}"}
<h3>Capabilities</h3>
{charter:cf-wgcharter-w-capabilities}
{/charter:if}

{charter:if "{charter:cf-wgcharter-w-motivation}"}
<h3>Motivation</h3>
{charter:cf-wgcharter-w-motivation}
{/charter:if}

{charter:if "{charter:cf-wgcharter-w-compatibility}"}
<h3>Compatibility</h3>
{charter:cf-wgcharter-w-compatibility}
{/charter:if}

<h3>Relationship to other activities and workgroups</h3>
{charter:cf-wgcharter-w-relationships}
<p>For more information, see the <a href="/participate/workgroup-best-practices/">Workgroup Best Practices</a>.</p>

<h3>Target Specification Development Organizations (SDOs)</h3>
<p>Specifications developed by this WG may be contributed to these SDOs:</p>
	<ul>
  {charter:cf-wgcharter-r-sdos var_prefix="sdo"}
		<li><a href="{sdo:cf-sdo-t-url}">{sdo:title}</a> (<a href="{sdo:cf-sdo-t-ipurl}">IP Policy</a>)</li>
  {/charter:cf-wgcharter-r-sdos}	
  </ul>

	<p>This contribution to these SDOs is dependent on maturing the specifications within this WG and gaining consensus on the contribution. At that point, the WG would make a proposal to the OSLC Steering Committee for such a move. For more information, see the <a href="/participate/workgroup-best-practices/">Workgroup Best Practices</a>.</p>

<h3>Participation</h3>
{charter:cf-wgcharter-w-participation}

<h3>Meetings Frequency and Communications</h3>
{charter:cf-wgcharter-w-meetings}

<h3>Decision Policy</h3>
{charter:cf-wgcharter-w-decisions}

<h3>Intellectual property</h3>
<p>Members of this Workgroup agree to this Workgroup Participation Agreement.</p>