{if {exp:stash:list_count name="listing"}}
{exp:stash:get_list name="listing"}
{if count == 1}
  <div class="grid blocks">
{/if}
    <div class="column hand-full desk-half" data-date="{date_epoch}">
      <div class="card" {if hook}id="{hook}"{/if}>
      	<header class="header">
      	  <h1 class="title">
      	    <a href="{url}" rel="bookmark">{title}</a>
      	  </h1>
      	</header>
      	<section class="content">      	  
      	  <div class="copy">
            {summary}
      	  </div>
      	</section>
      	{if date || author || {exp:stash:list_count name="tags_{entry_id}"}}
      	<div class="footer">
      	  <footer class="meta">
      	    <span class="byline">
              
                <time datetime="{date_w3c}">{date}</time>
                {if author}
                | {author_link}
                <span class="hidden"><span data-filter-on="author">{author}</span></span>
                {/if}
      	    </span>
      	    {if {exp:stash:list_count name="tags_{entry_id}"}}
      	      <div class="tags">
      	        {stash:embed:partials:tags stash:list="tags_{entry_id}"}
      	      </div>
      	    {/if}
      	  </footer>
      	</div>
      	{/if}
      </div>
    </div>
{if count == total_results}
  </div>
{/if}
{/exp:stash:get_list}
{/if}