<nav id="nav" role="navigation" 
  class="nav"
>
  {!-- Whirligig controls will go here --}
  {!-- Window wrapper will go here --}
  <div class="panels">
    <div id="main_menu" class="panel">
      <div class="menu primary structured" data-prospectus data-manage-focus="false">
      
        <ul class="items">
          
          <li class="desk-up">
           <a class="image-link home" href="{site_url}">
             <i class="icon grunticon-logo-med"></i>
             <span class="logo-text">
               <abbr title="{lv-sitelabel-en}" class="icon grunticon-wordmark-med ir">OSLC</abbr>
               <span class="project-name">
                 {lv-tagline-en}
               </span>
             </span>
           </a>
          </li>
          
          {!-- Google CSE --}
          {if global:env == 'production'}
          <li class="item">
            <gcse:searchbox-only />
          </li>
          {/if}
          
          {exp:structure:nav 
            max_depth="1"
            current_class="current" 
            include_ul="no"
            exclude="52|{lv-notinmainnav}"}
          
          {!-- Web apps --}
          {exp:channel:entries 
						channel="oslc_web_applications" 
						dynamic="off" 
						{global:disable_default}
					}
						<li><a href="{cf-app-t-url}">{title}</a></li>
					{/exp:channel:entries}
        
        </ul>
      
      </div> {!-- /.menu --}
    </div>{!-- /#main_menu --}
  </div>{!-- /.panels --}
</nav>