<nav id="nav" role="navigation" 
  {if {exp:stash:not_empty name='layout_secondary_nav'}}
  class="nav has-secondary" data-whirligig  
  {if:else}
  class="nav"
  {/if}
>
  
  {if {exp:stash:not_empty name='layout_secondary_nav'}}
  <div class="controls hand-only enhanced-only">
    <div class="tabs">
      <a href="#main_menu" class="tab">Main</a>
      <a href="#secondary_menu" class="tab active">{exp:stash:layout_secondary_nav_short_title}</a>
    </div>
  </div>
  
  <div class="window">
  {/if}

  <div class="panels">
    <div id="main_menu" class="panel">
      <div class="menu primary structured" data-prospectus data-manage-focus="false">
      
        <ul class="items">
          
          <li class="desk-up">
           <a class="image-link home" href="{site_url}">
             <i class="icon grunticon-logo-med"></i>
             <span class="logo-text">
               <abbr title="{lv-sitelabel-en}" class="icon grunticon-wordmark-med ir">OSLC</abbr>
               <span class="project-name">
                 {lv-tagline-en}
               </span>
             </span>
           </a>
          </li>
          
          {!-- Google CSE --}
          <li class="item">
            <form accept-charset="utf-8" action="http://www.google.com/cse" class="search">
              <label for="site_search" class="sr-only">Search</label>
              <input type="hidden" name="cx" value="007332863250739994192:7x5ikyiembq">
              <input type="search" id="site_search" name="q" placeholder="Search" class="search">
              <button type="submit"><i class="icon grunticon-search"></i><span class="sr-only">Search</span></button>
            </form>
          </li>
          
          {exp:structure:nav 
            max_depth="1"
            current_class="current" 
            include_ul="no"
            exclude="52|{lv-notinmainnav}"}
          
          {!-- Web apps --}
          {exp:channel:entries 
						channel="oslc_web_applications" 
						dynamic="off" 
						{global:disable_default}
					}
						<li><a href="{cf-app-t-url}">{title}</a></li>
					{/exp:channel:entries}
        
        </ul>
      
      </div> {!-- /.menu --}
    </div>{!-- /#main_menu --}
    
    {if {exp:stash:not_empty name="layout_secondary_nav"}}
    <div id="secondary_menu" class="panel">
      <div class="menu secondary inverted structured" data-prospectus data-manage-focus="false" property="dc:tableOfContents">
        <ul class="items">
          {if {exp:stash:not_empty name="layout_secondary_nav_title"}}
          <li role="presentation">
            <span class="item heading">{exp:stash:layout_secondary_nav_title}</span>
          </li>
          {/if}

          {exp:stash:layout_secondary_nav}

        </ul>
      </div>
    </div>
    {/if}
  </div>{!-- /.panels --}

  {if {exp:stash:not_empty name='layout_secondary_nav'}}
  </div>
  {/if}

</nav>