{if {exp:stash:list_count name="{stash:list}" match="{stash:match}" against="{stash:against}"} }
  {exp:stash:get_list 
    name="{stash:list}"
    match="{stash:match}"
    against="{stash:against}"
    orderby="text"
  }
    {if count == 1}
      <div class="column hand-full knee-half">
        <div class="card">
          <header class="header">
            <h3 class="title">    
              Related {channel}
            </h3>
          </header>
          <section class="content">
            <ul class="links">
    {/if}
        
              <li class="item"><a href="{url}">{text}</a></li>
    
    {if count == total_results}
            </ul>
          </section>
        </div>
      </div>
    {/if}
  {/exp:stash:get_list}
{/if}