{!-- Queue up various CSS & JS files --}
{exp:minimee:css queue="combined"}
  <link rel="stylesheet" href="{global:assets:css}combined.min.css">
{/exp:minimee:css}
{exp:minimee:js queue="enhanced"}
  <script src="{global:assets:js}enhanced.min.js"></script>
{/exp:minimee:js}
{exp:minimee:css queue="grunticon_svg"}
  <link rel="stylesheet" href="{global:assets:icons}icons.svg.css">
{/exp:minimee:css}
{exp:minimee:css queue="grunticon_png"}
  <link rel="stylesheet" href="{global:assets:icons}icons.png.css">
{/exp:minimee:css}
{exp:minimee:css queue="grunticon_fallback"}
  <link rel="stylesheet" href="{global:assets:icons}icons.fallback.css">
{/exp:minimee:css}


{!-- Define locations of CSS and JS for the base.js to work its magic --}
<meta name="combinedcss" content="{exp:minimee:display:url css='combined'}">
<meta name="enhancedjs" content="{exp:minimee:display:url js='enhanced'}">
{!-- Grunticon loader expects 3 comma-delimited URLs in this order: svg, (base64-encoded) png, fallback --}
<meta name="grunticons" content="{exp:minimee:display:url css='grunticon_svg'},{exp:minimee:display:url css='grunticon_png'},{exp:minimee:display:url css='grunticon_fallback'}">

{exp:switchee variable="stash:_one_last_script" parse="inward"}
  {case value="#^\S+#"}
    {exp:minimee:js queue="one_last_script"}
      <script src="{stash:_one_last_script}"></script>
    {/exp:minimee:js}      
    <meta name="oneLastScript" content="{exp:minimee:display:url js='one_last_script'}">      
  {/case}
{/exp:switchee}  

{!-- Display base.js inline. This loads combined.css and the appropriate icons async on first load. Also loads enhanced.js always --}
{exp:minimee:js:contents attribute:type="text/javascript"}
  <script src="{global:assets:js}base.min.js"></script>
{/exp:minimee:js:contents}

{!-- 
  If second load, just link to the combined CSS and appropriate icons 
  This is cookie-driven, so it must be in nocache tags
--}
{stash:nocache}  {!-- HAHAHAHHAHAHAHHAHAHAHA this works??? --}
{if cookie:combinedcss}
{/stash:nocache}
    <!-- link to combined CSS -->
    {exp:minimee:display css="combined"}
{stash:nocache}
{if:else}
{/stash:nocache}

  <!-- embedded critical CSS -->
  {exp:minimee:css:contents attribute:type="text/css"}
    <link rel="stylesheet" href="{global:assets:css}critical.min.css">
  {/exp:minimee:css:contents}

{stash:nocache}
{/if}
{/stash:nocache}

{stash:nocache}
{exp:switchee variable="{cookie:grunticons}" parse="inward"}
  {case value="svg"}
{/stash:nocache}
    <!-- link to pre-decided SVG grunticon CSS -->
    {exp:minimee:display css="grunticon_svg"}
{stash:nocache}
  {/case}
  {case value="png"}
{/stash:nocache}
    <!-- link to pre-decided PNG grunticon CSS -->
    {exp:minimee:display css="grunticon_png"}
{stash:nocache}
  {/case}
  {case value="fallback"}
{/stash:nocache}
    <!-- link to pre-decided FALLBACK grunticon CSS -->
    {exp:minimee:display css="grunticon_fallback"}
{stash:nocache}
  {/case}
{/exp:switchee}
{/stash:nocache}

<noscript>
  {exp:minimee:css:tag}
    <link rel="stylesheet" href="{global:assets:css}base.min.css">
  {/exp:minimee:css:tag}
  {exp:minimee:display css="grunticon_fallback"}
</noscript>