{if {exp:stash:list_count name="{stash:list}"}}
<div class="bar">
  <ul class="slats">
    {exp:stash:get_list name="{stash:list}"}
      <li class="slat">
        {if slug == "outgoing"}
          <a class="action" rel="external" href="{link}">
            <div class="flag reversed">
              <div class="body">{text}</div>
              <div class="image"><i class="icon grunticon-action-outgoing"></i></div>
            </div>
          </a>
        {if:else}
        <div class="media">
        	<div class="image">
        	  <i class="icon grunticon-meta-{slug}"></i>
        	</div>
        	<div class="body">
        	  <div class="header">{name}</div>
        	  
        	  <ul class="links tightened">
        	    {if {exp:stash:list_count name="{stash:list}_{slug}"}}
                
                {exp:stash:get_list:nested name="{stash:list}_{slug}" prefix="nested"}
                  <li class="item">
                    {if nested:link}<a href="{nested:link}">{/if}

                    {nested:text}

                    {if nested:link}</a>{/if}

                    {if nested:tag}
                      &nbsp;<span class="tag small">{nested:tag}</span>
                    {/if}
                    
                    {if nested:tooltip}
                      &nbsp;<span data-tooltip title="{nested:tooltip}"><span class="sr-only">Details</span></span>
                    {/if}
                  </li>
                {/exp:stash:get_list:nested}
                
              {if:else}
                <li class="item">
                  {if link}
                    <a href="{link}">{text}</a>
                  {if:else}
                    {text}
                  {/if}
                </li>
              {/if}
        	  </ul>
        	</div>
        </div>
        {/if}
      </li>
    {/exp:stash:get_list}
  </ul>
</div>
{/if}