<div class="bar">
  <ul class="slats">
    {exp:stash:get_list name="{stash:list}"}
      <li class="slat">
        <div class="media">
        	<div class="image">
        	  <i class="icon grunticon-meta-{slug}"></i>
        	</div>
        	<div class="body">
        	  <div class="header">{name}</div>
        	  
        	  <ul class="links tightened">
        	    {if {exp:stash:list_count name="{stash:list}_{name}"}}
                
                {exp:stash:get_list:nested name="{stash:list}_{name}" prefix="nested"}
                  <li class="item">
                    {if nested:link}
                      <a href="{nested:link}">{nested:text}</a>
                    {if:else}
                      {nested:text}
                    {/if}
                  </li>
                {/exp:stash:get_list:nested}
                
              {if:else}
                <li class="item">
                  {if link}
                    <a href="{link}">{text}</a>
                  {if:else}
                    {text}
                  {/if}
                </li>
              {/if}
        	  </ul>
        	</div>
        </div>
      </li>
    {/exp:stash:get_list}
  </ul>
</div>
