<!DOCTYPE html>
{!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ --}
<!--[if lt IE 7 ]> <html lang="en" class="no-js base ie6 ltie8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js base ie7 ltie8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js base ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js base ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html xlmns:dc="http://purl.org/dc/elements/1.1/" lang="en" class="no-js base"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title property="dc:title">
	  {exp:stash:block name="layout_headtitle"}{structure:page:title}{/exp:stash:block}
	  {if segment_1 != ""} - {/if} {site_label}
	</title>
	
  {stash:embed:partials:scripts-and-styles}
	
	<link rel="alternate" title="News feed for {site_label}" type="application/rss+xml" href="{path='rss'}/">
</head>
<body>
  <div class="sticky-footer">

    <div>
      <a class="sr-only focusable" href="#main">{lv-accessibility-maincontent-en}</a>
    </div>  

    {stash:embed:partials:banner}
    
    <div class="sticky-footer-body off-canvas-wrap">
      
      <main id="main" role="main" class="main">
        
        <header class="header">
          {if structure:page:entry_id || {exp:stash:not_empty name="layout_breadcrumbs"} }
          <nav class="breadcrumbs">
            {exp:stash:block name="layout_breadcrumbs"}
              {exp:structure:breadcrumb inc_here="no" separator="/" } /
            {/exp:stash:block}
          </nav>
          {/if}
          <div id="pagetitle">
            <h1 class="title">
              {exp:stash:block name="layout_pagetitle"}{structure:page:title}{/exp:stash:block}
            </h1>
          </div>
        </header>
        
        {if {exp:stash:not_empty name="layout_deck_date"} || {exp:stash:list_count name="layout_tags"} > 0}
        <footer class="deck">
          <div class="grid middle">
            {if {exp:stash:not_empty name="layout_deck_date"}}
              <div 
                class="column hand-full {if {exp:stash:list_count name='layout_tags'} > 0}knee-minor{/if}">
                <div class="byline">
                  <time property="dc:date" pubdate datetime="{exp:stash:layout_deck_date_w3c}">{exp:stash:layout_deck_date}</time>
                  {if {exp:stash:not_empty name="layout_deck_author"} }
                  | <span property="creator">{exp:stash:layout_deck_author}</span>
                  {/if}
                </div>
              
              </div>
            {/if}
            {if {exp:stash:list_count name="layout_tags"} > 0 }
              <div class="column hand-full knee-major">
                <div class="tags">
                  {exp:stash:get_list name="layout_tags"}
                  <a href="{href}" rel="tag" class="tag">{text}</a>
                  {/exp:stash:get_list}
                </div>
              </div>
            {/if}
          </div>
        </footer>
        {/if}
        
        {if {exp:stash:not_empty name="layout_listing_description"}}
          <section class="copy bar">
            {exp:stash:layout_listing_description}
          </section>
        {/if}
        
        <section id="content">
          {if {exp:stash:not_empty name="layout_listing"}}
            <div id="listing" class="cards">
              {exp:stash:layout_listing}
            </div>
          {/if}
          {if {exp:stash:not_empty name="layout_copy"}}
          <div class="bar">
            <div class="copy" property="dc:description">
              {exp:stash:layout_copy}
            </div>
          </div>
          {/if}
          
          
          {if {exp:stash:list_count name="layout_meta_after"} > 0}
            {stash:embed:partials:slats stash:list="layout_meta_after"}
          {/if}
        </section>
        
        {if {exp:stash:not_empty:string name="layout_relationships"}}
          <aside class="cards relationships">
            <div class="grid blocks">
              {exp:stash:get name="layout_relationships" trim="yes"}
            </div>
          </aside>
        {/if}
        
        {if {exp:stash:not_empty name="layout_prev_title"} || {exp:stash:not_empty name="layout_next_title"}}
          <nav class="footer">
            <div class="grid collapsed blocks">
              {if {exp:stash:not_empty name="layout_prev_title"}}
                <div class="column hand-full knee-half">
                  <a href="{structure:page_url_for:{exp:stash:layout_prev_id}}" class="sequence prev">
                    <div class="flag">
                      <div class="image"><i class="icon grunticon-previous"></i></div>
                      <div class="body">
                        <span class="label">{exp:stash:layout_prev_label}</span>
                        <span class="title">{exp:stash:layout_prev_title}</span>
                      </div>
                    </div>
                  </a>
                </div>
              {/if}
              {if {exp:stash:not_empty name="layout_next_title"}}
                <div class="column hand-full knee-half">
                  <a href="{structure:page_url_for:{exp:stash:layout_next_id}}" class="sequence next">
                    <div class="flag reversed">
                      <div class="body">
                        <span class="label">{exp:stash:layout_next_label}</span>
                        <span class="title">{exp:stash:layout_next_title}</span>
                      </div>
                      <div class="image"><i class="icon grunticon-next"></i></div>
                    </div>
                  </a>
                </div>
              {/if}
            </div>
          </nav>
        {/if}{!-- next or previous --}
        <a href="#" role="button" aria-label="Close navigation" class="close-nav"></a>
        
      </main>
      
      {stash:embed:partials:nav}
      
    </div>
    
    {stash:embed:partials:footer}
  </div>

</body>
</html>