<!DOCTYPE html>
{!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ --}
<!--[if lt IE 7 ]> <html lang="en" class="no-js base ie6 ltie8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js base ie7 ltie8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js base ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js base ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html xlmns:dc="http://purl.org/dc/elements/1.1/" lang="en" class="no-js base"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title property="dc:title">
	  {exp:stash:block name="layout_headtitle"}{structure:page:title}{/exp:stash:block}
	  {if segment_1 != ""} - {/if} {site_label}
	</title>
	
  {exp:stash:embed:partials:scripts-and-styles}
	
	<link rel="alternate" title="News feed for {site_label}" type="application/rss+xml" href="{path='rss'}/">
</head>
<body>
  <div class="sticky-footer">

    <div>
      <a class="sr-only focusable" href="#main">{lv-accessibility-maincontent-en}</a>
    </div>  

    {exp:stash:embed:partials:banner}
    
    <div class="sticky-footer-body off-canvas-wrap">
      
      <main id="main" role="main" class="main">
        
        <header class="header">
          {if structure:page:entry_id || {exp:stash:not_empty name="layout_breadcrumbs"} }
          <nav class="breadcrumbs">
            {exp:stash:block name="layout_breadcrumbs"}
              {exp:structure:breadcrumb inc_here="no" separator="/" } /
            {/exp:stash:block}
          </nav>
          {/if}
          <div id="pagetitle">
            <h1 class="title">
              {exp:stash:block name="layout_pagetitle"}{structure:page:title}{/exp:stash:block}
            </h1>
          </div>
        </header>
        
        {if {exp:stash:not_empty name="layout_deck_date"} || {exp:stash:list_count name="layout_tags"} > 0}
        <footer class="deck">
          <div class="grid middle">
            {if {exp:stash:not_empty name="layout_deck_date"}}
              <div 
                class="column hand-full {if {exp:stash:list_count name='layout_tags'} > 0}knee-minor{/if}">
                <div class="byline">
                  <time property="dc:date" pubdate datetime="{exp:stash:layout_deck_date_w3c}">{exp:stash:layout_deck_date}</time>
                  {if {exp:stash:not_empty name="layout_deck_author"} }
                  | <span property="creator">{exp:stash:layout_deck_author}</span>
                  {/if}
                </div>
              
              </div>
            {/if}
            {if {exp:stash:list_count name="layout_tags"} > 0 }
              <div class="column hand-full knee-major">
                <div class="tags">
                  {exp:stash:get_list name="layout_tags"}
                  <a href="{href}" rel="tag" class="tag">{text}</a>
                  {/exp:stash:get_list}
                </div>
              </div>
            {/if}
          </div>
        </footer>
        {/if}
        
      </main>
      
      {exp:stash:embed:partials:nav}
      
    </div>
    
    {exp:stash:embed:partials:footer}
  </div>

</body>
</html>