$card-border-radius: 4px;

%card-basis {
  background-color: $card-bg;
  border-radius: $card-border-radius;
  border: 1px solid #d9d9d9;
  border-top: none;
  background-clip: padding-box;
  
  > .header {
    border-radius: $card-border-radius $card-border-radius 0 0;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: palette(gray, mid-dark);
    border-bottom: 1px solid palette(gray, light);
    @include rem(padding, 10px $card-padding-sides 11px);
    
    > .title {
      margin: 0;
      font-weight: bold;
      line-height: 1.25;
      color: palette(gray, mid-dark);
    }

    a {
      color: palette(blue, mid-dark);
    
      &:visited {
        color: palette(gray, mid-dark);
      }
      
      &:hover, &:focus {
        color: palette(blue);
      }
    }
  }
  
  .content {
    @include rem(padding, $font-size-s $card-padding-sides);
  }

}

.card {
  @extend %card-basis;
  
  > .header {
    > .title {
      @extend %text-size-l;
    }
  }
  
  > .deck {
    color: palette(gray, mid-dark);
    line-height: 1;
    @include rem(padding, 0 $card-padding-sides);
    border-bottom: 1px solid palette(gray, light);    
  }
  
  > .footer {
    background-color: tint(palette(gray, x-light), 60%);
    border-radius: 0 0 $card-border-radius $card-border-radius;
    
    .byline { 
      margin-left: $card-padding-sides;
      margin-bottom: 8px;
    }
    
    .tags { margin-right: $card-padding-sides; }
  }

  .tags, .byline {
    margin-top: 8px;
  }
  
  .byline {
    @extend %inline-block;
    @extend %copy-links;
    @extend %text-size-s;
  }
  
  &.primary {
    @include rem(margin-bottom, $font-size-l);

    > .header > .title {
      @extend %text-size-xxl;
      line-height: 1.05;
    }
    
    .relationships { @include rem(padding, 13px 0); }
  }
  
}

.cards {
  background-color: tint( palette(gray,x-light), 30% );

  .card {
    @include rem(margin-bottom, $font-size-xxl);
  }
}