$drop-shadow-spread: 4px;

.drop-element {
  //http://github.hubspot.com/drop/overview/styling/
  display: none;
  position: absolute;
  opacity: 0;
  transition: opacity .15s $ease-out-cubic;

  &.drop-open-transitionend {
    display: block;
  }
  
  &.drop-after-open {
    opacity: 1;
  }
  
  &.drop-theme-oslc {
    max-width: 100%;
    // Leave some room on the sides for a drop shadow 
    // to be visible without adding more scroll bars
    padding-right: $drop-shadow-spread*1.5;
    padding-left: $drop-shadow-spread*1.5;
    
    .drop-content {
      background-color: #fff;
      box-shadow: 0 2px $drop-shadow-spread transparentize(palette(gray), .5);
      min-width: 8em;
      
      .count { 
        @extend %text-size-s; 
        color: palette(gray);
      }
      
      .item:hover,
      .item:focus {
        background-color: palette(gold,x-light);
      }
      
      .current,
      .current:hover,
      .current:focus {
        background-color: palette(gold,light);
      }
    }
  }
  
  &.drop-theme-deepthroat {
    padding-bottom: map-get($font-sizes,xxxs);
    
    .drop-content {
      max-width: 225px;
      @include rem(padding,map-get($font-sizes,xxs));
    }
  }
}

.close {
  @extend %button-reset;
  position: absolute;
  right: -6px + $drop-shadow-spread*1.5;
  top: -6px;
}

.tooltip-btn {
  @extend %button-reset;
  cursor: help;
}