.menu {
  
  .items {
    @extend %list-reset;
  }
  
  .item {
    @include rem(padding, 11px 16px);
    display: block;
    color: palette(gray, dark);
    
    &.flush { 
      padding-left: 0;
      padding-right: 0;
    }
    
  }
  
  &.tensed .item {
    @include rem(padding, 8px 11px);
  }

  a, 
  .item {
    text-decoration: none;
    transition: background-color .2s $ease-out-cubic; 
  }

  .current a,
  .item a:hover,
  .item a:focus,
  a.current,
  a.item:hover,
  a.item:focus {
    background-color: $main-bg-color;    
  }
  
  &.primary {
    background-color: $header-and-nav-bg;
  }
  
  .heading {
    font-size: 94%; // 15/16. Looks a bit nicer.
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &.inverted {
    background-color: palette(gray,mid-dark);
    
    .item { color: palette(gray,x-light); }

    .current a,
    .item a:hover,
    .item a:focus,
    a.current,
    a.item:hover,
    a.item:focus {
      background-color: palette(gray,dark);
    }
    
    .heading {
      border-bottom: 1px solid palette(red,mid-light);
    }
  } 
  
  &.horizontal {
    .item {
      @extend %inline-block;
      vertical-align: middle;
    }
    
    a.item {
      &:hover,
      &:focus {
        background-color: palette(gray, x-light);
      }
    }
    
    .current { }
    
  }
  
  .image { padding-right: 3px; }
  
}

.card .menu {
}