.banner,
.footer { 
  background-color: $header-and-nav-bg; 
  @include rem(padding, 4px 8px 5px);
}

.banner {
  border-top: 3px solid palette(gold, light);
  
  .btn {
    @extend %featurette;
    
    > .text {
      font-size: $font-size-xs;
      @include rem(margin-top, 3px);
    }
  }
  
  .image-link {
    @include rem(margin-left, 8px);
  }
  
  .logo-text { 
    @include rem(margin-left, 10px);
  }
  
  .project-name {
    @include rem(margin-top, 2px);
  }
}

.logo-text {
  display: block;
  color: palette(gray, mid-dark);
}

.project-name { @extend %block; }

abbr.grunticon-wordmark-small,
abbr.grunticon-wordmark-med {
  border-bottom: 0 !important;
}


.main {
  @include rem(padding-top, 16px);
  @include rem(padding-bottom, 16px);
  
  background-color: $main-bg-color;
}
