.tag {
  @extend %inline-block;
  @extend %fixFlagContainerInline;
  vertical-align: middle;
  @extend %text-size-s;
  line-height: 1;
  padding: 8px;
  
  color: #fff;
  background-color: palette(gray,mid-dark);
  text-decoration: none;
  margin-right: 5px;
  
  &:last-child { margin-right: 0; }
  
  .image {
    @include rem(padding-right, 5px );
  }
  
  &.success { background-color: palette(green, mid-dark); }
  
  &.info { background-color: palette(blue, mid-light); }
  
  &.warning { background-color: palette(gold, dark); }
  
  &.danger { background-color: palette(red, mid-dark); }
  
  &.OASIS { background-color: #51247c; }
  &.Inactive { background-color: palette(red); }
  &.W3C { background-color: #005a9c; }
  
}

a.tag {
  background-color: palette(blue, mid-dark);
  transition: background-color .25s $ease-out-cubic;
  
  &:hover, &:focus {
    background-color: palette(blue);
  }

}