/*
 * Nice color palette helper
 *
 * See http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
 *
 */
.copy > table, .copy > .fluid-video, .copy > ul,
.copy > ol, .copy > p, .copy > blockquote, .copy pre {
  margin-bottom: 1.4375em;
  margin-top: 0; }

/*
 * The ever-important clearfix
 */
.cf:after {
  content: "";
  display: table;
  clear: both; }

/*
 * Floats
 */
.left {
  float: left; }

.right {
  float: right; }

/*
 * Positioning
 */
.pos-rel {
  position: relative; }

.pos-abs {
  position: absolute; }

/*
 * Blocks
 */
.block.icon, .links .item, .sequence, .sequence .label, .pagination a, .pagination .item, .project-name {
  display: block; }

.icon, .menu.horizontal .item, .tag, .pagination > li, .card .byline, .card > .footer .tags {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto; }

/*
 * Reset UL/OLs
 */
.menu .items, .links, .pagination, .slats {
  margin: 0;
  padding: 0;
  list-style: none; }

/*
 * Prevent flicker on transitions on mobile webkit
 */
.prevent-flicker, .boxshadow .btn {
  -webkit-backface-visibility: hidden; }

/*
 * SVG Icons
 */
.icon {
  vertical-align: top; }

.banner .btn {
  text-align: center; }
  .banner .btn > .text {
    display: block; }

/* 
 * Latest hotness in image replacement
 * http://www.sitepoint.com/new-css-image-replacement-technique/
 * 
 * Shoves text out of the element's visible frame with less rendering work than -9999px
 * Still need additional classes to provide width/height and the background image
 */
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  /*
   * Extends the .visuallyhidden class to allow the element to be focusable
   * when navigated to via the keyboard: h5bp.com/p
   */ }
  .focusable.sr-only:active, .focusable.sr-only:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/*
 * Text size mixins / placeholders
 */
.breadcrumbs, .tag, .sequence .label, .card .byline, .slat {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.23077; }

.copy > h6 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.1875; }

.copy > h5, .card > .header .title {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.21053; }

.copy > h4 {
  font-size: 23px;
  font-size: 1.4375rem;
  line-height: 1.17391; }

.copy > h3, .card.primary > .header > .title {
  font-size: 27px;
  font-size: 1.6875rem;
  line-height: 1.18519; }

.copy > h2 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.1875; }

.copy > h1 {
  font-size: 38px;
  font-size: 2.375rem;
  line-height: 1.26316; }

.copy > .godzilla {
  font-size: 48px;
  font-size: 3rem;
  line-height: 1.05; }

.copy > table {
  width: 100%;
  padding: 0;
  border-collapse: separate;
  border-spacing: 0;
  empty-cells: show;
  border: none;
  border-top: 2px solid #cccccc;
  background: #fff; }
  .ltie8 .copy > table {
    border-collapse: collapse; }
  .copy > table th, .copy > table td {
    padding: 10px;
    text-align: left; }
  .copy > table [align="right"] {
    text-align: right; }
  .copy > table [align="center"] {
    text-align: center; }
  .copy > table th {
    font-weight: bold;
    vertical-align: bottom;
    background-color: #fafafa; }
  .copy > table th + th {
    border-left: 1px solid #cccccc; }
  .copy > table td {
    vertical-align: top; }
  .copy > table tbody tr + tr td {
    border-top: 1px solid #cccccc; }

/**
 * Define the ranges
 * Borrowed the idea shamelessly from http://foundation.zurb.com/docs/media-queries.html
 * Modified with some different terms
 */
/**
 * Set up some Media Queries
 * And get them in a SASS map (3.3+) for easy reference
 */
/**
 * Mixin for bubbling up media queries
 * Syntax sugar for the MQs defined above
 * 
 * See:
 *  - http://css-tricks.com/media-queries-sass-3-2-and-codekit/
 *  - http://jeffcroft.com/blog/2012/mar/02/implementing-responsive-design/
 *  - http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
 */
.js .nojs-only,
.mustard .nomustard-only {
  display: none !important; }

.no-js .js-only,
.no-js .mustard-only,
.no-mustard .mustard-only {
  display: none !important; }

.image-link {
  text-decoration: none; }

/*** 
  * Fluid video/embed wrappers
  * 
  * adapted from http://www.netmagazine.com/tutorials/create-fluid-width-videos
  * and http://alistapart.com/article/creating-intrinsic-ratios-for-videol
  */
.fluid-video {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  padding-top: 25px; }
  .fluid-video > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important; }

/* 
 * Image replacement
 */
/* 
 * Grunticon helper class
 */
/* 
 * Screen-Reader only
 * Extension of HTML5 Boilerplate .visuallyhidden
 * Add .focusable if it should become visible on focus/active
 */
/*
 * Modified version of Normalize.css
 * by Nicolas Gallagher, co-created with Jonathan Neal.
 * http://necolas.github.io/normalize.css/
 */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers.
 * 
 * This is a less drastic step than display:block
 * From HTML5 Boilerplate: h5bp.com/i/440
 */
audio,
canvas,
img,
svg,
video {
  vertical-align: middle; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * (1) Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
  /* 1 */ }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 * Hide the `datalist` element
 */
[hidden],
.hidden,
template,
datalist {
  display: none !important;
  visibility: hidden; }

/**
 * Add pointer cursor to `summary` element
 */
summary {
  cursor: pointer; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif. Uses Bourbon's Helvetica stack
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/*
a:focus {
  outline: thin dotted;
}
*/
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography oddities
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Allow lines inside pre/code elements to wrap
 * www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/
 * https://developer.mozilla.org/en-US/docs/Web/CSS/white-space
 */
pre, code {
  word-wrap: break-word;
  white-space: pre-wrap; }

/**
 * If for some reason <code> blocks don't wrap, allow overflow
 */
pre {
  overflow: auto; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Pointer for labels with a for="" attribute
 */
label[for] {
  cursor: pointer; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ==========================================================================
   RWD
   ========================================================================== */
img, object, embed, iframe {
  max-width: 100% !important; }

img {
  -ms-interpolation-mode: bicubic;
  height: auto !important; }

/* ==========================================================================
   GRID SYSTEM
   
   Flexbox grid with an inline-block fallback
   Columns are equal-width and have gutter spacing (no lines) by default
   
   For current flexbox support see:
     - http://philipwalton.github.io/solved-by-flexbox/
     - http://caniuse.com/flexbox
   
   As of this writing, you've got 
     - IE 11
     - Chrome
     - Safari / iOS
     - Opera
     - FF 22+ (with .flexboxlegacy)
     - IE10 (has a weird "tweener" syntax)
   
   Requires: 
    - inline-block from Bourbon library
    - flexbox helper
    - rem helper ( @include rem(property, px-value|s); )
   ========================================================================== */
.grid {
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
  letter-spacing: -0.31em;
  word-spacing: -0.43em;
  /* 
   * This is the best way I've found to allow infinite nesting 
   * with easy gutters.
   *
   * The advantages are:
   *  - you easily achieve classic grid proportions (all cells equal size)
   *    with simple math
   *  - nested .grid rows line up with no extra work
   *  - gutters between columns with no extra markup (this drove me nuts on OSLC v2)
   * 
   * The drawbacks are twofold:
   *  - negative margins are aggressively weird
   *  - b/c of negative margins you cannot apply a background color to the .grid object
   *    or cells directly
   *  - this can make the layout 
   */ }
  .flexbox .grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .flexbox .grid.middle {
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  .grid.pulled {
    margin-left: -16px;
    margin-left: -1rem;
    margin-right: -16px;
    margin-right: -1rem; }
  .grid.relaxed.pulled {
    margin-left: -32px;
    margin-left: -2rem;
    margin-right: -32px;
    margin-right: -2rem; }
  .grid.test p {
    margin: 0;
    background-color: pink; }
  .grid.test.blocks > .column > div {
    background-color: #ccc;
    padding: 5px; }

.column {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  vertical-align: top;
  /* 
   * if you do nothing else this handles everything for you like magic!
   * ... (for flexbox, at least)
   * 
   * all items will be equal proportion in the same row (1:1 size)
   * just keep adding to your heart's content.
   * 
   * obviously that's not how it'll work out for the inline-block fallback
   */
  padding-left: 16px;
  padding-left: 1rem;
  padding-right: 16px;
  padding-right: 1rem;
  /**
  * Blocks
  * Extra bonus for flexbox browsers
  * Set display: flex and columns will auto-grow in height to match each other
  */
  /**
   * Grid dividers
   */ }
  .flexbox .column {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
       -moz-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    /*
     // Commented out: in IE the last item ALWAYS grew, instead of only sometimes
     // which busted the layout
    &:last-child {
      max-width: none;
    }
    */ }
  .relaxed > .column {
    padding-left: 32px;
    padding-left: 2rem;
    padding-right: 32px;
    padding-right: 2rem; }
  .collapsed > .column {
    padding-left: 0;
    padding-right: 0; }
  .flexbox .blocks > .column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
    .flexbox .blocks > .column > * {
      width: 100%; }
  .divided > .column {
    border-right: 1px solid #333333; }
  .divided > .column:last-child {
    border-right: 0; }

/*
 * "Hand" classes
 * We're "mobile first" so these are phone-up
 */
.hand-full {
  width: 100%; }
  .flexbox .hand-full {
    width: auto;
    /*
     * see: 
     *   - http://philipwalton.github.io/solved-by-flexbox/demos/grids/
     *   - http://www.w3.org/TR/css3-flexbox/#flex
     *   - https://github.com/zeMirco/flexbox-grid
     * 
     * we're already setting flex-grow and flex-shrink
    **/
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    /*
     *   - http://stackoverflow.com/questions/19316449/ie10-flexbox-widths-include-padding-causing-overflow-box-sizing-border-box-do
     *  - http://stackoverflow.com/questions/21942183/multiline-flexbox-in-ie11-calculating-widths-incorrectly
     * 
     * IE10/11 have a rendering bug where flex items do not 
     * respect box-sizing: border-box; BOOOOOO!
     *
     * Using max-width to keep the size under control fixes it, 
     * at the cost of the ability to flex-grow (which we mostly don't need)
     */
    max-width: 100%; }

.hand-half {
  width: 50%; }
  .flexbox .hand-half {
    width: auto;
    /*
     * see: 
     *   - http://philipwalton.github.io/solved-by-flexbox/demos/grids/
     *   - http://www.w3.org/TR/css3-flexbox/#flex
     *   - https://github.com/zeMirco/flexbox-grid
     * 
     * we're already setting flex-grow and flex-shrink
    **/
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    /*
     *   - http://stackoverflow.com/questions/19316449/ie10-flexbox-widths-include-padding-causing-overflow-box-sizing-border-box-do
     *  - http://stackoverflow.com/questions/21942183/multiline-flexbox-in-ie11-calculating-widths-incorrectly
     * 
     * IE10/11 have a rendering bug where flex items do not 
     * respect box-sizing: border-box; BOOOOOO!
     *
     * Using max-width to keep the size under control fixes it, 
     * at the cost of the ability to flex-grow (which we mostly don't need)
     */
    max-width: 50%; }

.hand-major {
  width: 70.72%; }
  .flexbox .hand-major {
    width: auto;
    /*
     * see: 
     *   - http://philipwalton.github.io/solved-by-flexbox/demos/grids/
     *   - http://www.w3.org/TR/css3-flexbox/#flex
     *   - https://github.com/zeMirco/flexbox-grid
     * 
     * we're already setting flex-grow and flex-shrink
    **/
    -webkit-flex-basis: 70.72%;
        -ms-flex-preferred-size: 70.72%;
            flex-basis: 70.72%;
    /*
     *   - http://stackoverflow.com/questions/19316449/ie10-flexbox-widths-include-padding-causing-overflow-box-sizing-border-box-do
     *  - http://stackoverflow.com/questions/21942183/multiline-flexbox-in-ie11-calculating-widths-incorrectly
     * 
     * IE10/11 have a rendering bug where flex items do not 
     * respect box-sizing: border-box; BOOOOOO!
     *
     * Using max-width to keep the size under control fixes it, 
     * at the cost of the ability to flex-grow (which we mostly don't need)
     */
    max-width: 70.72%; }

.hand-minor {
  width: 29.28%; }
  .flexbox .hand-minor {
    width: auto;
    /*
     * see: 
     *   - http://philipwalton.github.io/solved-by-flexbox/demos/grids/
     *   - http://www.w3.org/TR/css3-flexbox/#flex
     *   - https://github.com/zeMirco/flexbox-grid
     * 
     * we're already setting flex-grow and flex-shrink
    **/
    -webkit-flex-basis: 29.28%;
        -ms-flex-preferred-size: 29.28%;
            flex-basis: 29.28%;
    /*
     *   - http://stackoverflow.com/questions/19316449/ie10-flexbox-widths-include-padding-causing-overflow-box-sizing-border-box-do
     *  - http://stackoverflow.com/questions/21942183/multiline-flexbox-in-ie11-calculating-widths-incorrectly
     * 
     * IE10/11 have a rendering bug where flex items do not 
     * respect box-sizing: border-box; BOOOOOO!
     *
     * Using max-width to keep the size under control fixes it, 
     * at the cost of the ability to flex-grow (which we mostly don't need)
     */
    max-width: 29.28%; }

@media only screen and (max-width: 40em) {
  .knee-up,
  .knee-only,
  .desk-up,
  .desk-only,
  .workstation-up,
  .workstation-only,
  .neckbeard-up,
  .neckbeard-only {
    display: none !important; } }
.no-js .knee-up,
.no-js .knee-only,
.no-js .desk-up,
.no-js .desk-only,
.no-js .workstation-up,
.no-js .workstation-only,
.no-js .neckbeard-up,
.no-js .neckbeard-only, .no-mustard .knee-up,
.no-mustard .knee-only,
.no-mustard .desk-up,
.no-mustard .desk-only,
.no-mustard .workstation-up,
.no-mustard .workstation-only,
.no-mustard .neckbeard-up,
.no-mustard .neckbeard-only {
  display: none !important; }

/**
 * OOCSS Media and Module groups 
 */
.body,
.media,
.no-display-table .flag {
  overflow: hidden;
  *overflow: visible;
  zoom: 1; }

.media .image,
.no-display-table .flag .image {
  float: left; }
.media.reversed .image,
.no-display-table .flag.reversed .image {
  float: right; }

.flag {
  display: table;
  width: 100%; }
  .flag > .image,
  .flag > .body {
    display: table-cell;
    vertical-align: middle; }
  .flag > .image {
    width: 0; }
  .flag > .body {
    width: 100%; }
  .flag.bottom > .image,
  .flag.bottom > .body {
    vertical-align: bottom; }

.flexbox .body,
.flexbox .media {
  overflow: visible; }
.flexbox .media, .flexbox .flag {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
  .flexbox .media > .image,
  .flexbox .media > .body, .flexbox .flag > .image,
  .flexbox .flag > .body {
    width: auto; }
  .flexbox .media > .body, .flexbox .flag > .body {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .flexbox .media.reversed > .image, .flexbox .flag.reversed > .image {
    float: none;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
.flexbox .media {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
.flexbox .flag {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .flexbox .flag.bottom {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }

.no-flexbox.flexboxlegacy .hasFlag, .no-js .hasFlag {
  display: table; }

.no-flexbox.flexboxlegacy .hasFlagInline, .no-flexbox.flexboxlegacy .action, .no-flexbox.flexboxlegacy .tag, .no-js .hasFlagInline, .no-js .action, .no-js .tag {
  display: inline-table; }

/*
 * Sticky Footer with no restrictions on the size of the footer area like traditional solutions
 * 
 * Flexbox is awesome.
 * 
 * http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
 * https://github.com/philipwalton/solved-by-flexbox/blob/master/_sass/components/_site.scss
 *
 * I've made a modification here to account for some performance issues with scripts adding elements to the <body>, especially on longer pages in Firefox
 * Basically, don't set display:flex on the <body> element directly.
 * My fix is to move the whole shebang one layer deeper (html -> body -> .sticky-footer)
 * See: http://jsbin.com/todajate/3/edit
 */
.flexbox .sticky-footer, .flexbox .sticky-footer-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flexbox .sticky-footer-body, .flexbox .main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
     -moz-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.flexbox .sticky-footer {
  min-height: 100vh; }

/*
  "IE10 needs an explicitly declared height on both the <body> and <html> elements to trigger correct calculation of heights for flexible containers along the vertical axis of the page. I haven't found any other properties that trigger the correct behavior so far. It doesn't seem to matter which height you set, but 100% seems sensible."
  
  src: http://thatemil.com/blog/2013/11/03/sticky-footers-flexbox-and-ie10/
  see also: http://jsbin.com/ERELezu/24/edit
  and: http://jsbin.com/todajate/3/edit
*/
.flexboxtweener, .flexboxtweener > body, .flexboxtweener .sticky-footer {
  height: 100%; }

html {
  font-size: 100%; }

.sticky-footer-body {
  background-color: #444; }

/*
 * Body Copy
 */
.copy a, .links a, .breadcrumbs a, .pagination a, .card .byline a {
  color: #0083a3;
  -webkit-transition: color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
          transition: color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .copy a:visited, .links a:visited, .breadcrumbs a:visited, .pagination a:visited, .card .byline a:visited {
    color: #39606a; }
  .copy a:hover, .links a:hover, .breadcrumbs a:hover, .pagination a:hover, .card .byline a:hover, .copy a:focus, .links a:focus, .breadcrumbs a:focus, .pagination a:focus, .card .byline a:focus {
    color: #00a7bd; }
  .copy a:active, .links a:active, .breadcrumbs a:active, .pagination a:active, .card .byline a:active {
    color: #51c1d2; }

.copy a img {
  border-color: #0083a3;
  -webkit-transition: border-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
          transition: border-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1); }
.copy a:visited img {
  border-color: #39606a; }
.copy a:hover img, .copy a:focus img {
  border-color: #00a7bd; }
.copy a:active img {
  border-color: #51c1d2; }

.copy {
  line-height: 1.4375; }
  .copy > *:first-child {
    margin-top: 0; }
  .copy > *:last-child {
    margin-bottom: 0; }
  .copy > h1,
  .copy > h2,
  .copy > h3,
  .copy > h4,
  .copy > h5,
  .copy > h6 {
    font-weight: 500;
    margin-top: .71em;
    margin-bottom: .6em; }
    .copy > h1 > small,
    .copy > h2 > small,
    .copy > h3 > small,
    .copy > h4 > small,
    .copy > h5 > small,
    .copy > h6 > small {
      color: #777;
      vertical-align: baseline;
      font-size: 0.7071em; }
  .copy > ul,
  .copy > ol {
    padding-left: 24px;
    padding-left: 1.5rem; }
    .copy > ul ol, .copy > ul ul,
    .copy > ol ol,
    .copy > ol ul {
      padding-left: 24px;
      padding-left: 1.5rem; }
  .copy li {
    margin-bottom: 6px;
    margin-bottom: 0.375rem;
    margin-top: 6px;
    margin-top: 0.375rem; }
  .copy > blockquote {
    margin-left: 0;
    border-left: 3px solid #cccccc;
    font-style: italic;
    padding-left: 1em; }
  .copy img {
    border: 2px solid #cccccc; }
  .copy pre, .copy code, .copy tt {
    font-family: monospace;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #fff8eb; }
  .copy pre {
    word-wrap: break-word;
    word-break: break-all;
    overflow: auto;
    padding: 8px;
    padding: 0.5rem;
    border-top: solid 2px #ffe2b3; }

.menu .item {
  padding: 11px 8px;
  padding: 0.6875rem 0.5rem;
  display: block;
  color: #444444; }
  .menu .item.flush {
    padding-left: 0;
    padding-right: 0; }
.menu.tensed .item {
  padding: 8px 11px;
  padding: 0.5rem 0.6875rem; }
.menu a,
.menu .item {
  text-decoration: none;
  -webkit-transition: background-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
          transition: background-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1); }
.menu .current a,
.menu .item a:hover,
.menu .item a:focus,
.menu a.current,
.menu a.item:hover,
.menu a.item:focus {
  background-color: #d8d8d8; }
.menu.primary {
  background-color: white; }
.menu .heading {
  font-size: 94%;
  text-transform: uppercase;
  letter-spacing: 1px; }
.menu.inverted {
  background-color: #666666; }
  .menu.inverted .item {
    color: #ebebeb; }
  .menu.inverted .current a,
  .menu.inverted .item a:hover,
  .menu.inverted .item a:focus,
  .menu.inverted a.current,
  .menu.inverted a.item:hover,
  .menu.inverted a.item:focus {
    background-color: #444444; }
  .menu.inverted .heading {
    border-bottom: 1px solid #ee7e7c; }
.menu.horizontal .item {
  vertical-align: middle; }
.menu.horizontal a.item:hover, .menu.horizontal a.item:focus {
  background-color: #ebebeb; }
.menu .image {
  padding-right: 3px; }

.links.tightened .item {
  margin-bottom: 5px;
  margin-bottom: 0.3125rem; }
.links .item {
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  line-height: 1.3; }
  .links .item:last-child {
    margin-bottom: 0; }

.breadcrumbs {
  padding-top: 2px; }
  .breadcrumbs a {
    text-decoration: none; }

.btn, .action {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none !important;
  white-space: nowrap;
  line-height: 1;
  padding: .3125em .5em .3125em;
  border-radius: 4px; }

.btn {
  color: #fff;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  background-color: #cccccc;
  border-bottom-color: #a3a3a3;
  /* 
   OMG this was driving me NUTS
    So here's the story: a "click" event requires a mouseDown AND mouseUp
    If you transform an element so that you mousedown in one element
      and mouseup in another, "click" doesn't fire.
      
    This prevents that 'glitch' by telling child elements to send pointer events to the parent
    (You could also change your event handlers to mousedown)
    
    Solution and explanation here: http://stackoverflow.com/questions/15786891/browser-sometimes-ignores-a-jquery-click-event-during-a-css3-transform
   */ }
  .btn:hover, .btn:focus {
    background-color: #dadada; }
  .btn:active, .btn[active] {
    border-bottom: 0; }
  .btn > .text {
    vertical-align: middle; }
  .btn > * {
    pointer-events: none; }

.boxshadow .btn {
  border-bottom: 0;
  padding: .3125em .5em .375em;
  -webkit-box-shadow: 0 0.15em 0.15em rgba(0, 0, 0, 0.1), inset 0 -0.1875em 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.15em 0.15em rgba(0, 0, 0, 0.1), inset 0 -0.1875em 0 rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition-property: background-color, -webkit-transform, padding, margin;
          transition-property: background-color, transform, padding, margin; }
  .boxshadow .btn:active, .boxshadow .btn[active] {
    -webkit-box-shadow: 0 0.15em 0.15em rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.15em 0.15em rgba(0, 0, 0, 0.1);
    padding-bottom: .1875em;
    margin-bottom: .1875em;
    -webkit-transform: translate(0, 0.1875em);
        -ms-transform: translate(0, 0.1875em);
            transform: translate(0, 0.1875em); }

.action {
  border: 3px solid;
  padding: .6em;
  color: #0083a3;
  -webkit-transition: border-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
          transition: border-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .action:hover, .action:focus {
    border-color: #51c1d2; }
  .action:active {
    border-color: #7ed2dd; }
  .action .reversed .image {
    padding-left: 5px; }

.tag {
  vertical-align: middle;
  line-height: 1;
  padding: 8px;
  color: #fff;
  background-color: #666666;
  text-decoration: none;
  margin-right: 2px; }
  .tag:last-child {
    margin-right: 0; }
  .tag .image {
    padding-right: 5px;
    padding-right: 0.3125rem; }
  .tag.success {
    background-color: #00bd94; }
  .tag.info {
    background-color: #51c1d2; }
  .tag.warning {
    background-color: #ff852e; }
  .tag.danger {
    background-color: #dc3235; }
  .tag.OASIS {
    background-color: #51247c; }
  .tag.Inactive {
    background-color: #e85b59; }
  .tag.W3C {
    background-color: #005a9c; }

a.tag {
  background-color: #0083a3;
  -webkit-transition: background-color 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
          transition: background-color 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }
  a.tag:hover, a.tag:focus {
    background-color: #00a7bd; }

.sequence {
  padding: 1em 16px;
  text-decoration: none;
  -webkit-transition: background-color 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
          transition: background-color 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .sequence:hover, .sequence:focus {
    background-color: #ebf8f9; }
  .sequence.prev .body {
    padding-left: 8px; }
  .sequence.next .body {
    padding-right: 8px; }
  .sequence .label {
    font-weight: bold;
    color: #444444; }

.flexbox .pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
.pagination > li {
  vertical-align: top;
  line-height: 20px; }
.pagination a {
  text-decoration: none; }
.pagination a, .pagination .item {
  padding: .5em .8125em; }
.pagination > li:first-child a {
  padding-left: 0; }
.pagination > li:last-child a {
  padding-right: 0; }
.pagination .item {
  border-top: 2px solid #444444;
  padding-top: .375em; }
  .boxshadow .pagination .item {
    border-top: none;
    padding-top: .5em;
    -webkit-box-shadow: inset 0 3px 0 #444444;
            box-shadow: inset 0 3px 0 #444444; }
.pagination .previous .icon, .pagination .first .icon {
  margin-right: 5px; }
.pagination .next .icon, .pagination .last .icon {
  margin-left: 5px; }

.card, .notice {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  border-top: none;
  -webkit-background-clip: padding-box;
          background-clip: padding-box; }
  .card > .header, .notice > .header {
    border-radius: 4px 4px 0 0;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #666666;
    border-bottom: 1px solid #cccccc;
    padding: 10px 16px 11px;
    padding: 0.625rem 1rem 0.6875rem; }
    .card > .header .title, .notice > .header .title {
      margin: 0;
      font-weight: bold;
      line-height: 1.25;
      color: #666666; }
    .card > .header a, .notice > .header a {
      color: #0083a3; }
      .card > .header a:visited, .notice > .header a:visited {
        color: #666666; }
      .card > .header a:hover, .notice > .header a:hover, .card > .header a:focus, .notice > .header a:focus {
        color: #00a7bd; }
  .card .content, .notice .content {
    padding: 13px 16px;
    padding: 0.8125rem 1rem; }

.card > .header .tags {
  margin-left: 11px;
  margin-left: 0.6875rem; }
.card > .deck {
  color: #666666;
  line-height: 1;
  padding: 0 16px 8px;
  padding: 0 1rem 0.5rem;
  border-bottom: 1px solid #cccccc; }
.card > .deck .byline,
.card > .footer .byline {
  margin-top: 8px; }
.card > .deck .tags,
.card > .footer .tags {
  margin-top: 6px; }
.card .tags .tag {
  margin-top: 1px; }
.flexbox .card .tags {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
.card .menu {
  background-color: #f7f7f7; }
.card > .footer {
  background-color: #f7f7f7;
  border-radius: 0 0 4px 4px; }
  .card > .footer > .meta,
  .card > .footer > .pagination {
    padding: 0 16px;
    padding: 0 1rem; }
  .card > .footer > .meta {
    padding-bottom: 8px;
    padding-bottom: 0.5rem; }
  .card > .footer .byline {
    margin-right: 11px;
    margin-right: 0.6875rem; }
  .card > .footer .tags {
    vertical-align: middle; }
.card.primary {
  margin-bottom: 19px;
  margin-bottom: 1.1875rem; }
  .card.primary > .header > .title {
    line-height: 1.05; }
  .card.primary .relationships {
    padding: 13px 0;
    padding: 0.8125rem 0; }

.cards {
  background-color: #f1f1f1; }
  .cards .card {
    margin-bottom: 27px;
    margin-bottom: 1.6875rem; }
    .cards .card.small {
      margin-bottom: 19px;
      margin-bottom: 1.1875rem; }
    .cards .card .cards {
      background-color: #f7f7f7; }

.notice .header > .title {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.1875; }
.copy > .notice {
  margin-bottom: 1em; }

.slats + .copy,
.copy + .slats {
  margin-top: 11px; }

.slat {
  padding: 8px 2px;
  padding: 0.5rem 0.125rem; }
  .slat + .slat {
    border-top: 1px solid #cccccc; }
  .slat > .flag > .image {
    padding-right: 8px;
    padding-right: 0.5rem; }
  .slat .header {
    margin-bottom: .2em;
    font-weight: bold;
    color: #666666; }

.status[value] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border: none;
  background: #ebebeb;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* With these Shadow DOM selectors, they have to be on their own. You can't combine them. */
  color: #0083a3; }
  .status[value]::-webkit-progress-bar {
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .status[value] .fallback {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #0083a3; }
  .status[value]::-webkit-progress-value {
    background-color: #0083a3; }
  .status[value]::-moz-progress-bar {
    background-color: #0083a3; }
  .status[value].inactive {
    color: #dc3235; }
    .status[value].inactive::-webkit-progress-value {
      background: -webkit-repeating-linear-gradient(left, #dc3235, #dc3235 14px, transparent 14px, transparent 20px);
      background: repeating-linear-gradient(to right, #dc3235, #dc3235 14px, transparent 14px, transparent 20px); }
    .status[value].inactive::-moz-progress-bar {
      background: repeating-linear-gradient(to right, #dc3235, #dc3235 14px, transparent 14px, transparent 20px); }
    .status[value].inactive .fallback {
      background-color: #dc3235; }
  .status[value].finalize {
    color: #ffa83d; }
    .status[value].finalize::-webkit-progress-value {
      background-color: #ffa83d; }
    .status[value].finalize::-moz-progress-bar {
      background-color: #ffa83d; }
    .status[value].finalize .fallback {
      background-color: #ffa83d; }
  .status[value].final {
    color: #00bd94; }
    .status[value].final::-webkit-progress-value {
      background-color: #00bd94; }
    .status[value].final::-moz-progress-bar {
      background-color: #00bd94; }
    .status[value].final .fallback {
      background-color: #00bd94; }

.banner,
.footer[role="contentinfo"] {
  background-color: white;
  padding: 4px 8px 5px;
  padding: 0.25rem 0.5rem 0.3125rem; }

.banner {
  border-top: 3px solid #ffe2b3; }
  .banner .btn > .text {
    font-size: 11px;
    margin-top: 3px;
    margin-top: 0.1875rem; }
  .banner .image-link {
    margin-left: 8px;
    margin-left: 0.5rem; }
  .banner .logo-text {
    margin-left: 10px;
    margin-left: 0.625rem; }
  .banner .project-name {
    margin-top: 2px;
    margin-top: 0.125rem; }

.logo-text {
  display: block;
  color: #666666; }

abbr.grunticon-wordmark-small,
abbr.grunticon-wordmark-med {
  border-bottom: 0 !important; }

.main {
  padding: 13px;
  padding: 0.8125rem;
  background-color: #d8d8d8; }
