- var site_url = environment == "production" ? 'http://oslc.github.io/redesign/' : '/';

p Greater details on the various script modules the site requires

!= partial('../_listing', {site_url: site_url, listing_root: current.path[0]} )