footer.footer(role="contentinfo")

  .grid.pulled
    .column.hand-full.knee-minor
      p.social
        a(href="http://twitter.com/oslcNews")
          i.icon.grunticon-social-twitter
            span.sr-only Follow us on Twitter
        a(href="http://www.youtube.com/user/OpenServicesDotNet")
          i.icon.grunticon-social-youtube
            span.sr-only Watch our videos on YouTube
        a(href="http://oslc.github.io/redesign/")
          i.icon.grunticon-social-github
            span.sr-only Report issues on Github
        a(href="http://www.linkedin.com/groups/OSLC-Open-Services-Lifecycle-Collaboration-3957829")
          i.icon.grunticon-social-linkedin
            span.sr-only Follow us on LinkedIn
        a(href="https://plus.google.com/u/0/107747465325293070028/posts")
          i.icon.grunticon-social-googleplus
            span.sr-only Add us on Google Plus

    .column.hand-full.knee-major
      ul.inline
        li.item
          a(href="https://github.com/OSLC/redesign/issues") Issues
        li.item
          a(href="http://open-services.net") OSLC Home
        li.item
          a(href="mailto:webmaster@open-services.net") Feedback
          
  p.copyright
    small
     | All content <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/")>Creative Commons Attribution 3.0 US</a> except where noted otherwise.


