.cards
  for page, slug in public[listing_root]._data
    if slug !== 'index'
      .card
        header.header
          h1.title #{ page.title }
        section.content
          div.copy
            p #{page.description}
            p 
              a(href="#{site_url + listing_root + '/' + slug + '.html'}") Read more
  