{!-- News index and tag/spec filtered news --}

{!-- 
	This page uses the "Freebie" add-on so that I can parse archives, pages, and categories
	See: http://www.3roadsmedia.com/blog/expressionengine-with-structure-and-categories/
--}

{embed="_embeds/_body"
	pagetype="blog_listing"
	
	{exp:switchee variable="{freebie_2}" parse="inward"}
		
		{!-- Listings: either the index or pagination (eg P10) --}
		{case value="#^P(\d+)$#|''"}
			headtitle="{structure:page:title}"
			{!-- Activates 5-per-page pagination --}
			listings_limit="10"
		{/case}
				
	{/exp:switchee}
}