/**
 * OOCSS Media and Module groups 
 */

//
// Classic
// 

// https://github.com/stubbornella/oocss/blob/master/core/module/mod.css
.body, 
.media,
.ltie8 .flag { 
  overflow:hidden; 
  *overflow:visible; 
  zoom:1; 
}

//	https://github.com/stubbornella/oocss/tree/master/core/media
.media,
.ltie8 .flag {
 .image { float:left; }
 &.reversed .image { float:right; }  
}


//
// "Flag" variation
// Vertically centers the image and body with no math
// http://csswizardry.com/2013/05/the-flag-object/
//
// Requires display-table, so we're at IE8+
//

.flag {
  display: table;
  
  > .image, 
  > .body {
    display: table-cell;
    vertical-align: middle;
  }

  // Force the body to take up the remaining space
  > .body { 
    width: 100%; 
    .ltie8 & { width: auto; }
  }
  
  
  //
  // Bottom alignment (also not possible with .media)
  // for top alignment, use the classic .media
  //
  &.bottom {
    > .image, 
    > .body {
      vertical-align: bottom; 
    }
  }

}

//
// With Flexbox!
// 
// Keeping it to .flexbox
// Legacy (mostly really old FF) has some trouble with widths
//
.flexbox {
  // Un-do the block formatting context
  .body, 
  .media { overflow: visible; }
  
  .media, 
  .flag {
    display: flex;
    
    // flex items don't care about floats, display table, vertical-align, whatever
    // don't need to un-do those bits
    
    > .body {
      //width: auto;
    }
    
    > .image {
      flex-shrink: 0;
    }
    
    > .body { 
      flex-grow: 1;
      // flex: 1 auto; <-- TODO consider setting flex-basis explicitly to auto
      // http://css-tricks.com/almanac/properties/f/flex-basis/
      //   "When omitted from the flex shorthand, its specified value is the length zero."
      //   not auto, as I thought. "flex: 0 1 auto" is the DEFAULT, but shorthand changes it
      // If you change this, fix _card_enhanced -> .card > .header > .flag > .body
    }
    
    &.reversed > .image {
      float: none;
      order: 1;
    }
    
    &.collapsible {
      flex-wrap: wrap;
    }
  }
  
  .media {
    align-items: flex-start;
  }
  
  .flag {
    align-items: center;
    
    &.bottom {
      align-items: flex-end;
    }
    
  }
  
}

//
// Fix for older Safar/iOS when something contains a .flag object
//
@mixin fixFlagContainer($inline:false) {
  .no-flexbox.flexboxlegacy &,
  .no-js & {
    @if $inline == false {
      display: table;
    } @else {
      display: inline-table;
    }
    
  }
}

%fixFlagContainer {
  @include fixFlagContainer();
}
.hasFlag { @extend %fixFlagContainer; }

%fixFlagContainerInline {
  @include fixFlagContainer(true);
}
.hasFlagInline { @extend %fixFlagContainerInline; }