// This wraps the moving pieces to hide their movement
.off-canvas-wrap {
  @include respond-to(knee-up) {
    position: relative;
  }
}

.js-icon-swapper {
  @extend %pos-rel;
  @extend %block;
  height: 25px;  // Magic number alert. Precise height/width of the icons
  width: 28px;

  .icon {
    @extend %pos-abs;
    top: 0;
    left: 0;
    transform-origin: 50% 50%;
    
    &:last-child { opacity: 0; }
  }
}

.enhanced .nav {

  // Remove from flow
  @extend %pos-abs;
  z-index: 2;

  @include respond-to(hand-only) {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }  
  
  @include respond-to(knee-down) {
    right: 100%;
  }
          
  @include respond-to(knee-up) {
    
    // needs a width
    width: $main-menu-width;
    
    &.has-secondary { width: $both-menus-width; }
    
    // still removed from flow, take up full height
    top: 0;
    bottom: 0;
    background-color: $header-and-nav-bg;
    box-shadow: 2px 0 3px rgba(0,0,0,.2);
    
    // handle the possibility that the content isn't big enough for the nav
    overflow: auto; 
        
    .panels {
      // transform: none !important; // un-do any carousel shifts :: now done in whirligig script
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    
    .panel {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1;
    }
    
  }
      
  .logo-text {
    text-align: center;
    @include rem(margin-top, $font-size-xs);
  }
    
  .project-name { @include rem(margin-bottom, $font-size-xs); }
      
}

#main_menu {
  @include respond-to(knee-up) {
    width: $main-menu-width;
    background-color: $header-and-nav-bg;
  }
}

#secondary_menu {
  @include respond-to(knee-up) {
    right: 0;
    width: $secondary-menu-width;
    border-left: #444 1px solid;
    background-color: palette(gray,mid-dark);
  }
}

.main {
  position: relative;
  z-index: 1;

  @include respond-to(desk-up) {

    margin-left: $main-menu-width;
    &.has-secondary {
      margin-left: $both-menus-width;
    }
    
  }

}

.close-nav {
  @extend %pos-abs;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  display: none;

  background-color: rgba(0,0,0,.35);
  cursor: pointer;
}