@import "banner";
@import "content";

// need a better name here
.footer[role="contentinfo"] {
  @extend %pos-rel;
  z-index: 2;
  @include rem(padding, $font-size-l $font-size-l $font-size-s);
  background-color: desaturate( palette(blue,dark), 55% );
  border-top: 1px solid darken(palette(blue,dark), 7%);
  color: palette(gray,x-light);
  
  a {
    transition: color .2s $ease-out-cubic;
    text-decoration: none;
    color: palette(blue,light);
    
    &:hover,
    &:focus {
      color: palette(blue,mid-light);
    }
    
  }
  
  p { margin: 0; }
  
  .social .icon {
    margin-right: 5px;
    margin-bottom: 5px;
  }
  
  .copyright {
    margin-top: 8px;
  }
}