$banner-padding-top: 4px;
$banner-padding-bottom: 4px;

.banner,
.footer[role="contentinfo"] { 
  background-color: $header-and-nav-bg; 
}

.toggle {
  @extend %featurette;
  text-decoration: none;
  transition: background-color .2s $ease-out-cubic;
  
  .text {
    color: $header-and-nav-text-color;
    font-size: $font-size-xs;
    line-height: 1;
    @include rem(margin-top, 4px);
  }
}

.banner {
  //border-top: $header-and-nav-top-border;
  background-color: $header-and-nav-bg;
  box-shadow: 0 2px 3px rgba(0,0,0,.16);
  z-index: 5;
  
  .toggle {
    @include rem(padding, $banner-padding-top 11px $banner-padding-bottom);
    border-right: 1px solid darken( $header-and-nav-bg, 7% );

    &:hover,&:focus {
      background-color: darken( $header-and-nav-bg, 4% );
    }
  }
  
  .image-link {
    @include rem(margin-left, 8px);
    @include rem(padding-top, $banner-padding-top);
    @include rem(padding-bottom, $banner-padding-bottom);
  }
  
  .logo-text { 
    @include rem(margin-left, 10px);
  }
  
  .project-name {
    @include rem(margin-top, 2px);
  }
}

.logo-text {
  display: block;
  color: $header-and-nav-text-color;
}

.project-name { @extend %block; }

abbr.grunticon-wordmark-small,
abbr.grunticon-wordmark-med {
  border-bottom: 0 !important;
}

.breadcrumbs,
.main > .header .title,
.main > .header .toggle,
.deck,
.main > .content {
  padding-left: $main-padding-sides;
  padding-right: $main-padding-sides;
  
  @include respond-to(desk-up) {
    padding-left: $main-padding-sides-large;
    padding-right: $main-padding-sides-large;
  }
}

// In a few places, this shifting body margin means you have to adjust .grid.pulled spacing
@include respond-to( knee-down ) {
  .deck,
  .listing {
    > .grid.pulled {
      margin-left: -$main-padding-sides;
      margin-right: -$main-padding-sides;
      > .column {
        padding-left: $main-padding-sides;
        padding-right: $main-padding-sides;
      }
    }  
  }
}


.main {
  background-color: $main-bg-color;
  
  > .header {
    background-color: $main-header-bg;
    color: $main-header-text-color;
    border-bottom: 1px solid darken($main-header-bg, 5%);
    
    .title,
    .toggle {
      padding-top: $main-padding-sides;
      padding-bottom: $main-padding-sides;
    }
  
    .title { 
      margin: 0;
      font-weight: normal;
      @include font-size(xxl, 1.1); 
      
      @include respond-to(desk-up) {
        @include text-size-xxxl;
      }
    }
  }
  
  > .deck .byline { font-size: $font-size-s; }
  
  > .content {
    padding-top: $font-size-s;
    padding-bottom: $font-size-s;
  }
  
  > .menu {
    padding-left: $font-size-xxxs;
    padding-right: $font-size-xxxs;
  }
  
  > .footer {
    background-color: tint(palette(gray, x-light), 60%);
    padding-bottom: $font-size-xxxs;
  }
  
}

.deck {
  color: palette(gray, mid-dark);
  line-height: 1;
  padding-top: 0;
  @include rem(padding-bottom, $font-size-s);
}

.byline { margin-top: 8px; }
.tags {margin-top: 6px;}

.flexbox { 

  .meta,
  .tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .meta .byline { flex: 1 1 auto; }
  
  .tags .tag { flex-shrink: 0; }

}

.relationships { @include rem(padding, 13px 0); }

.sticky-footer > .footer {
  @include rem(padding, 4px 8px 5px);
  z-index: 2;
  @extend %pos-rel;
  border-top: 1px solid darken( $header-and-nav-bg, 7% );
}