%btn {
  @extend %button-reset;
  @include inline-block;
  vertical-align: middle;
  cursor: pointer;

  text-decoration: none !important;
  
  white-space: nowrap;
  
  // FF doesn't let you do line-height on <input>
  // So the easiest way to handle these is with padding
  line-height: 1; 
  padding: .3125em .5em .3125em;
  
  border-radius: 4px;

  /* 
   OMG this was driving me NUTS
    So here's the story: a "click" event requires a mouseDown AND mouseUp
    If you transform an element so that you mousedown in one element
      and mouseup in another, "click" doesn't fire.
      
    This prevents that 'glitch' by telling child elements to send pointer events to the parent
    (You could also change your event handlers to mousedown)
    
    Solution and explanation here: http://stackoverflow.com/questions/15786891/browser-sometimes-ignores-a-jquery-click-event-during-a-css3-transform
   */
  > * {
    pointer-events: none;
  }
  
}

// Easily define button colors. 
// Sets border-bottom (shade) and hover (tint) colors based on the input base color
@mixin oslc-button-color ($btn-color: palette(gray,light) ) {

  background-color: $btn-color;
  
  border-bottom-color: shade($btn-color, 20%);
  
  &:hover,
  &:focus {
    background-color: tint($btn-color, 28%);
  }
  
  &.disabled, &[disabled] {
    background-color: lighten( desaturate($btn-color,70%), 40%) !important;
  }
  

}

.btn {
  @extend %btn;
  
  color: #fff !important;
  border-bottom-style: solid;
  border-bottom-width: 3px;

  @include oslc-button-color;

  // "pressed" animation when active
  &:active,
  &[active] {
    border-bottom: 0;
  }

  > .text {
    vertical-align: middle;
  }
  
  &.good { @include oslc-button-color( palette(green,mid-dark) ); }
  &.primary { @include oslc-button-color( palette(blue,mid-dark) ); }
  &.bad { @include oslc-button-color( palette(red,mid-dark) ); }
  
  &.disabled, &[disabled] {
    opacity: .6;
    cursor: not-allowed;
  }

}

// With box shadows, you can do this without figuring out more colors
.boxshadow .btn {
  @extend %prevent-flicker;  

  border-bottom: 0;
  
  padding: .3125em .5em .5em;
  box-shadow: 0 .15em .15em hsla(0,0%,0%,.1),
              inset 0 -.1875em 0 hsla(0,0%,0%,.20);
  transition-duration: .1s;
  transition-timing-function: $ease-out-cubic;
  transition-property: background-color, transform, box-shadow;

  // "pressed" animation when active
  &:active,
  &[active] {
    box-shadow: 0 .15em .15em hsla(0,0%,0%,.1);
    transform: translate(0,.1875em);
  }
  
}

.action {
  @extend %text-size-m; // this is first so the line height can be overridden
  @extend %btn;
  @extend %fixFlagContainerInline;
  border: 3px solid;
  padding: .6em;
  
  color: palette(blue, mid-dark);
  
  transition: border-color .2s $ease-out-cubic;
  
  &:hover, &:focus {
    border-color: palette(blue, mid-light);
  }
  
  &:active { border-color: palette(blue,light); }
  
  .reversed .image { padding-left: 5px; }
  
}

.outlined {
  @extend %btn;
  color: palette(blue, mid-dark);
  border: 2px solid palette(blue,light);
  background-color: #fff;
  transition: background-color .3s $ease-out-cubic;
  
  &:hover {
    background-color: tint(palette(blue,x-light), 70%);
  }
}