%card-basis {
  border: none;
  //box-shadow: 8px 8px 0 $card-shadow-color;
  box-shadow: 0 2px 3px rgba(0,0,0,.2);
  
  & & {
    //box-shadow: 5px 5px 0 $card-shadow-color;    
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
  }
  
  & & & { 
    //box-shadow: 3px 3px 0 $card-shadow-color;
    box-shadow: 0 1px 2px rgba(0,0,0,.25); 
  }

}

.card {
  @extend %card-basis;
  
  .boxshadow & {
    > .header {
      border-top: none;
      box-shadow: inset 0 3px 0 palette(gray, mid-dark);
    }
  }
  
  .title > a {
    .cssgradients & {
      text-decoration: none;
      @include linear-gradient( 
        to top, 
        rgba(255,255,255,0) 0%, 
        transparentize(palette(gray, mid-dark), .6) 0%, 
        transparentize(palette(gray, mid-dark), .6) 5%, 
        rgba(255,255,255,0) 5%,
        rgba(255,255,255,0) 100%);
    }
  }
  
  .flexbox & { 
  
    .meta,
    .tags {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    
    .meta .byline { flex: 1 1 auto; }
    
    .tags .tag { flex-shrink: 0; }

    .header > .flag > .body { 
      // appears to resolve an issue where tags
      // would overlap the header title
      flex-basis: auto;
    }

  }
  
  &.primary {

    // Bump up the title text size of the primary card a bit on larger screens
    > .header > .title {
      @include respond-to(desk-up) {
        @include text-size-xxxl;
      }
    }
  }
}

@include respond-to(desk-up) {
  .cards .card {
    @include rem(margin-bottom, $font-size-xxxxxl);
    
    .flexbox & {
      display: flex;
      flex-direction: column;
    
      > .content {
        flex: 1 0 auto;
      }
    }
  }
}