$card-border-radius: 4px;

.card {
  background-color: $card-bg;
  border-radius: $card-border-radius;
  border: 1px solid #d9d9d9;
  border-top: none;
  background-clip: padding-box;

  > .header {
    border-radius: $card-border-radius $card-border-radius 0 0;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: palette(gray, mid-dark);
    border-bottom: 1px solid palette(gray, x-light);
    @include rem(padding, 10px $card-padding-sides 11px);
    
    .title {
      margin: 0;
      font-weight: bold;
      @include font-size(l,1.25);
      color: palette(gray, mid-dark);
    }
    
    .tags { @include rem(margin-left, map-get($font-sizes,xxxs)); }

    a {
      color: palette(blue, mid-dark);
    
      &:visited {
        color: palette(gray, mid-dark);
      }
      
      &:hover, &:focus {
        color: palette(blue);
      }
    }
  }
          
  .byline {
    @extend %inline-block;
    @extend %copy-links;
    @extend %text-size-s;
  }
  
  .content { @include rem(padding, $font-size-s $card-padding-sides); }
  
  .tags .tag { margin-top: 1px;}
  
  > .footer {
    background-color: tint(palette(gray, x-light), 60%);
    border-radius: 0 0 $card-border-radius $card-border-radius;
    @include rem(padding, 0 $card-padding-sides);
    
    > .meta { @include rem(padding-bottom, 6px); }
    
    .byline { @include rem(margin-right, $font-size-xs); }
    
    .tags { 
      @extend %inline-block;
      vertical-align: middle;
    }
    
  }
    
}

.cards {
  background-color: tint(palette(gray,x-light), 30%);

  .card {
    @include rem(margin-bottom, $font-size-xxl);
    
    &.small {
      @include rem(margin-bottom, $font-size-l);
    }
    
    .cards {background-color: tint( palette(gray,x-light), 60% );}
  }
}