/*
 * Body Copy
 */

//--- Stock link color 

%copy-links {
  a {
    color: palette(blue, mid-dark);
    transition: color .2s $ease-out-cubic;
    
    &:visited {
      color: desaturate( palette(blue, mid-dark), 70%);
    }
    
    &:hover, 
    &:focus {
      color: palette(blue);
    }
    
    &:active {
      color: palette(blue, mid-light); 
    }
  }
}

//--- Stock link colors around linked images
// Keep this separate so you can extend %copy-links without all the image requirements
%copy-linked-images {
  a {
    img {
      border-color: palette(blue, mid-dark);
      transition: border-color .2s $ease-out-cubic;   
    }
    
    &:visited img {
      border-color: desaturate( palette(blue, mid-dark), 70%);
    }
    
    &:hover, &:focus {
      img { border-color: palette(blue); }
    }
    
    &:active img {
      border-color: palette(blue, mid-light);
    }
  }
}

.copy {
  line-height: $copy-line-height-knee-up;
  
  @extend %copy-links;
  @extend %copy-linked-images;
  
  // Eliminate possible top margin
  > *:first-child {
    margin-top: 0;
  }
  
  // Eliminate possible bottom margin on last child
  > *:last-child {
    margin-bottom: 0;
  }

  $copy-header-border-width: 8px;

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    //font-weight: 500; // semibold
    font-weight: 400; // normal
    margin-top: .71em;
    margin-bottom: .6em;
    border-left: $copy-header-border-width solid;
    padding-left: $card-padding-sides - $copy-header-border-width;
    margin-left: -$card-padding-sides;
    
    //
    // Inline subheads
    // use <small> in the heading. Done!
    //
    > small {
      color: #777;
      vertical-align: baseline;
      font-size: 0.7071em;
    }
  }
  
  //
  // BASIC HEADINGS
  //
  > h6 {
    @extend %text-size-m;
    border-color: palette(blue,x-light);
  }
  
  > h5 {
    @extend %text-size-l;
    border-color: palette(blue,light);
  }
  
  > h4 {
    @extend %text-size-xl;
    border-color: palette(blue,mid-light);
  }
  
  > h3 {
    @extend %text-size-xxl;
    border-color: palette(blue);
  }
  
  > h2 {
    @extend %text-size-xxxl;
    border-color: palette(blue,mid-dark);
  }
  
  > h1 {
    @extend %text-size-xxxxl;
    border-color: palette(blue,dark);
  }
  
  > .godzilla {
    @extend %text-size-xxxxxl;
    border-color: palette(blue,x-dark);
  }
      
  > table {
    @extend %copy-margins;
    @extend %table;
  }
  
  > .fluid-video {
    @extend %copy-margins;
  }
  
  //
  // ORDERED & UNORDERED LISTS
  // 
  // Careful! Don't want to get too specific with these.
  //
  > ul,
  > ol {
    // keep this to direct children only
    @extend %copy-margins;
    
    // reduce the default indentation
    @include rem(padding-left, 24px);

    // affects all children ol/ul
    ol, ul {
      @include rem(padding-left, 24px);
    }
    
  } 

  // some extra spacing between list items
  // be careful here, this selector might come back to bite you
  li { 
     @include rem(margin-bottom, 6px); 
     @include rem(margin-top, 6px); 
  }
    
  > p {
    @extend %copy-margins;
  }
  
  > blockquote {
    @extend %copy-margins;
    margin-left: 0;
    border-left: 3px solid palette(gray,light);
    font-style: italic;
    padding-left: 1em;
  }
   
  img {
    border: 2px solid palette(gray, light);
  }
      
  
  // www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/
  pre, code, tt {
    font-family: monospace;
    white-space: pre; 
    // UPDATE: going to try overflow instead
    //white-space: pre-wrap; 
    
    background-color: tint( palette(gold, x-light), 25% );
  }
  
  pre {
    // These last two make sure things that aren't very word-like, like URLs, break
    // UPDATE: with JS Compactor and overflow, gonna skip this
    //word-wrap: break-word;
    //word-break: break-all;
    
    @extend %copy-margins;
    overflow: auto;
    @include rem(padding, 8px);
    border-top: solid 2px palette(gold, light);
  }

  
}