#compatibility-graphic {
  @extend %copy-margins;
  
  svg { border: 1px solid #ccc; }
}

.node-link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
  opacity: .33;
  
  &.directional { opacity: 1; }
}

.node {
  font: 13px sans-serif;

  // with tooltips
  &[aria-describedby] {
    cursor: help;
  }

  circle {
    fill: #fff;
    stroke: palette(blue,mid-light);
    stroke-width: 3px;
          
    // different colors for different specs
    &.spec-1 { stroke: palette(gold,mid-light); }
    &.spec-2 { stroke: palette(green); }
    &.spec-3 { stroke: palette(red,mid-light); }
    &.spec-4 { stroke: palette(gray,mid-light); }
    
  }
  
  text {
    fill: palette(gray,x-dark);
    text-shadow: #fff 1px 1px 0;
  }
  
  rect {
    fill: rgba(255,255,255,.4);
  }

}

.legend { @extend %text-size-s; }

.legend-node {
  @extend %inline-block;
  line-height: 1;
  margin-right: .33em;
  height: 13px;
  width: 13px;
  border: 3px solid palette(blue,mid-light);
  border-radius: 50%;

    // different colors for different specs
    &.spec-1 { border-color: palette(gold,mid-light); }
    &.spec-2 { border-color: palette(green); }
    &.spec-3 { border-color: palette(red,mid-light); }
    &.spec-4 { border-color: palette(gray,mid-light); }

}
