$drop-shadow-spread: 4px;

%dropdown {
  // Leave some room on the sides for a drop shadow 
  // to be visible without adding more scroll bars
  position: absolute;
  padding-right: $drop-shadow-spread*1.5;
  padding-left: $drop-shadow-spread*1.5;
  z-index: 1;
}

%dropdown-body {
  min-width: 8em;
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: 0 2px $drop-shadow-spread transparentize(palette(gray), .5);
  opacity: 0; // initial setting
}

.dropdown {
  @extend %dropdown;
  // this makes sure it doesn't get wider than the screen 
  // without having to know how wide that screen is
  max-width: 100%;
  
  @include respond-to(knee-up) {
    // but at this point we know the screen is 600+ pixels wide,
    // so we can put a sensible limit here
    max-width: 450px;
  }
  
  .items {
    @extend %dropdown-body;
    
    .count { 
      @extend %text-size-s; 
      color: palette(gray);
    }
    
    .item:hover,
    .item:focus {
      background-color: palette(gold,x-light);
    }
    
    .current,
    .current:hover,
    .current:focus {
      background-color: palette(gold,light);
    }

  }
}

.tooltip {
  @extend %dropdown;
  padding-bottom: map-get($font-sizes,xxxs);
  
  .body {
    @extend %dropdown-body;
    max-width: 225px;
    border-radius: 2px;
    @include rem(padding,map-get($font-sizes,xs));
  }
}

.tooltip-wrap {
  cursor: help;
  border-bottom: 2px dotted palette(blue,light);
}

.close {
  @extend %button-reset;
  position: absolute;
  right: -6px;
  top: -6px;
}
