.form {
  @extend %copy-links;
  
  form {
    @extend %readable;
  }
  
  fieldset { 
    border: none; 
    @extend %mp0;
  }

  .fieldset + .fieldset {
    @include rem(margin-top, $font-size-xxl);
  }

  legend {
    padding: 0;
    border: 0;
    color: palette(gray,dark);
    @extend %font-size-l;
    margin: 0 0 $font-size-s;
  }
  
  p,
  .help {
    margin: 5px 0;
  }
  
  .help {    
    @extend %text-size-s;
    color: palette(gray, mid-dark);
  }
  
}

.control {
  > label {
    color: palette(gray,dark);
    font-weight: bold;
    @extend %font-size-s;
        
  }
  
  > .media + .media {
    margin-top: 5px;
  }
  
  &.options label {
    @extend %block;
    margin-left: 5px;
  }
  
  .notice {
    margin-top: $font-size-s;
  }
}

.control + .control {
  margin-top: $font-size-s;
  
}

input.text,
textarea.text,
.input {
margin: 3px 0 5px;
}

input.text,
textarea.text {
  @extend %block;
  border: 1px solid palette(gray);
  background: #fff;
  padding: 5px; 
  color: palette(gray,x-dark);
  width: 290px;
  @extend %text-size-m;
  transition-property: color, border-color;
  transition-duration: .2s;
  transition-timing-function: $ease-out-cubic;
  
  &.disabled, 
  &[disabled],
  &.readonly,
  &[readonly] {
    background: shade(#fff,5%);
    color: palette(gray,mid-dark);
    cursor: not-allowed;
  }
  
  &:focus {
    border-color: palette(blue,dark);
  }
}

.flexbox .prefixed {
  display: flex;
  max-width: 290px;
  
  > input {
    margin: 0;
    flex: 1;
  }
}

  .prefix {
    border: 1px solid palette(gray);
    border-right: none;
    padding: 8px 3px 8px 5px;
    line-height: 1;
    @extend %font-size-s;
    color: palette(gray, mid-dark);
    background: palette(gray, x-light);
  }


input[type="radio"],
input[type="checkbox"] {
  margin-right: $font-size-xxxs;
}

.enhanced .form.login {
  .control { 
    @extend %pos-rel;
    padding-top: 7px;
  }
  
  .control+.control { margin-top: 5px; }
  
  .floatingLabels label {
    @extend %pos-abs;
    left: 5px;
    top: 50%;
    color: palette(gray, light);
    transform: translate( 0, -50% );
    transform-origin: 0% 50%;
    transition-property: color, transform;
    transition-duration: .1s;
    transition-timing-function: $ease-out-cubic;
    
    &.is-focused {
      color: palette(blue, light);
    }
    
  }
    
  .text { 
    width: 100%;
    max-width: auto;
    background: none;
    border: 0;
    margin: 0;
    border-bottom: 1px solid palette(gray, light);
    transition: border-bottom-color .2s $ease-out-cubic;
    
    &:focus { 
      outline: 0; 
      border-bottom-color: palette(blue,light);
    }
  }
  
  .actions {
    display: flex;
    
    .links, button {
      padding: 5px;
    }
    
    button {
      @extend %button-reset;
      flex-grow: 1;
      text-align: left;
      font-weight: bold;
      @extend %text-size-s;
      color: #fff;
      background-color: darken($header-and-nav-bg, 7%);
      transition: background-color .2s $ease-out-cubic;
      
      &:hover {
        background-color: darken($header-and-nav-bg, 11%);
      }
    }
    
    .links {
      @extend %text-size-xs;
      a {
        display: block;
      }
      a+a { margin-top: 3px; }
    }
  }
}

form.search {

  .enhanced & {
    display: flex;
  }

  input[type="search"] {
    border: 0;
    padding: 4px 5px;
    @include font-size(s,1);
    
    .enhanced & {
      border-radius: 5px 0 0 5px;
      flex-grow: 1;
    }
  }
  
  button {
    @extend %button-reset;
    padding: 5px;
    background-color: palette(gray,x-light);
    
    .enhanced & { border-radius: 0 5px 5px 0; }
  }
}