.links {
  @extend %list-reset;
  @extend %copy-links;
  
  .copy & { padding-left: 0; }
  
  &.tightened .item {
    @include rem(margin-bottom, 5px);
  }
  
  .item {
    @extend %block;
    @include rem(margin-bottom, 8px);
    margin-top: 0;
    line-height: 1.3;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
    
}