.menu {
  &.primary {
    @include respond-to( desk-up ) {
      border-top: 3px solid palette(gold, light);
    }
  }
  
  &.secondary { 
    @include respond-to( hand-only ) {
      .heading { display: none; }
    } 
  }
  
  &.horizontal {
    .current {
      box-shadow: inset 0 -2px 0 palette(gray,mid-dark);
    }
  }
  
  .flexbox &.horizontal,
  .flexbox &.horizontal > .items{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    
    .item {
      display: flex;
      align-items: center;
    }
  }
  
}

.activeFilter {
  @extend %inline-block;
  @extend %text-size-s;
  @extend %button-reset;
  line-height: 1;
  color: #fff;
  padding: 5px 4px;
  background-color: palette(gold,dark);
  max-width: 120px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
