.menu {
  
  .items {
    @extend %list-reset;
  }
  
  .item {
    @include rem(padding, $font-size-xs $font-size-m/2);
    display: block;
    color: palette(gray, dark);
    
    &.flush { 
      padding-left: 0;
      padding-right: 0;
    }
  }
    
  &.tensed .item {
    @include rem(padding, 8px 11px);
  }

  a, 
  .item {
    text-decoration: none;
    transition: background-color .2s $ease-out-cubic;
  }
    
  &.primary {
    background-color: $header-and-nav-bg;
    
    .item, 
    a { 
      color: $header-and-nav-text-color; 
    }

    a.item:hover,
    a.item:focus {
      background-color: darken( $header-and-nav-bg, 3% );
    }

    .current {
      background-color: darken( $header-and-nav-bg, 6% ) !important;
    }
    
    .profile {
      .info {
        @extend %block;
        @extend %text-size-xs;
      }
    }

  }
    
  .heading {
    font-size: 94%; // 15/16. Looks a bit nicer.
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .has-children .items .item {
    padding-left: $font-size-l;
  }
  
  &.inverted {
    background-color: palette(gray,mid-dark);
    
    .item { color: palette(gray,x-light); }
    
    .item a:hover,
    .item a:focus,
    a.item:hover,
    a.item:focus {
      background-color: lighten( palette(gray,dark), 7% );
    }

    .current a,
    .current {
      background-color: palette(gray,dark) !important;
    }
    
    .heading {
      border-bottom: 1px solid darken($header-and-nav-bg, 20%);
    }
  } 
  
  &.horizontal {
    .item {
      @extend %inline-block;
      vertical-align: middle;
    }
    
    a.item {
      &:hover,
      &:focus {
        background-color: palette(gray, x-light);
      }
    }
    
    .current { }
    
  }
  
  &.page {
    background-color: tint(palette(gray, x-light), 60%);
    border-bottom: 1px solid palette(gray,light);
  }
  
  .image { padding-right: 3px; }
  
}

form.gsc-search-box, 
table.gsc-search-box { 
  margin-bottom: 0 !important; 
  box-sizing: content-box;
}

.gsc-search-box-tools .gsc-search-box .gsc-input {
  padding: 0 !important;
}
input.gsc-input { font-size: $font-size-s !important; }
input.gsc-search-button-v2 { 
  padding: 5px 8px !important;
}
.gsst_b { top: 3px; }
.gsib_a { padding-left: 5px !important; }

a.gsst_a:hover,
a.gsst_a:focus { background: none !important;}