/*
Considering replacing this with just _sequences. No one needs the ol' five-surrounding / first / last / prev / next link clutter 
.pagination {
  @extend %list-reset;
  @extend %copy-links;

  .flexbox & {
    display: flex;
    justify-content: space-between;
  }
  
  > li {
    @extend %inline-block;
    vertical-align: top;
    line-height: 20px; // height of the icons. Annoying to have to set it here
  }
  
  a { text-decoration: none; }
  
  a, .item {
    @extend %block;
    padding: .5em .8125em;
  }
    
  // the active one (not a link)
  .item {
    border-top: 2px solid palette(gray, dark);
    padding-top: .375em;
    
    .boxshadow & {
      border-top: none;
      padding-top: .5em;
      box-shadow: inset 0 3px 0 palette(gray,dark);
    }
  }
  
  .previous, .first {
    .icon { margin-right: 5px; }
  }
  
  .next, .last {
    .icon { margin-left: 5px; }
  }
  

}
*/

.pagination {
  margin: 0;
  padding: 5px 0;
  text-align: center;
  font-style: italic;
  @include font-size(s,1);
}