@keyframes scaleIn {
  from { transform: scaleX(0); }
  to { transform: scaleX(1); }
}

.status[value] {
  animation: scaleIn 2s 1s $ease-out-cubic 1 backwards;
}

.flexbox .slats.flexible {

  @include respond-to(knee-up) {
    display: flex;
    flex-wrap: wrap;
  }
  
  .slat {
    @include respond-to( knee-up ) {
      border-top: 1px solid palette(gray,light);
      flex-basis: 50%;
      flex-grow: 1;
    }
    
    @include respond-to (workstation-up) {
      flex-basis: 33%;
    }
  }
}
