.copy
  p The OSLC Core defines essential elements of OSLC specs and offers guidance on common concerns for creating, updating, retrieving, and linking to lifecycle resources. The Core specification builds on the best practices we’ve learned as a community and on the work of the existing domain work groups. Future OSLC domain specifications can be based on this core specification, enabling other workgroups to focus more exclusively on domain-specific concerns.
  
//.stack
  a(disabled).success.btn(href="#") Join this workgroup