.bar.copy
  p By entering the information below and clicking on the I Agree button below, the OSLC Member specified below, on behalf the Entity represented by the OSLC Member, specified below, if any, and its Affiliates (collectively “Entity Group”) provides an electronic signature, thereby executing this OSLC Workgroup Participation Agreement and agreeing to the terms and conditions of the IP Policy set forth below with respect to each of the OSLC Workgroup(s) listed below and its Target SDO(s) specified in the respective Workgroup Charter(s) below, the effective date of which is the date on which the “I Agree” button is clicked.
  
  div.notice
    .header
      .title Please Note
    p.body If your capacity to serve as a representative of the Entity Group or as an Independent OSLC Member changes, you must immediately notify a Steering Committee Member in a written communication of this change in capacity. Even if you do not provide such notification of such change, your actions shall obligate the Entity for which you are providing work and/or services, or which is sponsoring or financing your continued participation in OSLC, as a result of such change as if you executed a Workgroup Participation Agreement as a representative of such Entity.
    
  h2 Workgroups
  
  ul
    li ALM-PLM Interoperability
    li Change Management
    li Quality Management
    li Requirements Management

.nested
  article.document
    .header
      h1.title IP Policy
    .content.copy
      h3 Article I. Definitions
      
      p Some terms may be defined in other sections of the OSLC IP Policy (“this IP Policy”), in which case the terms are enclosed by parentheses and quotation marks, and capitalized.
      p 
      p “Affiliate” means any Entity that Controls, is Controlled by, or is under common Control with, another Entity, so long as such control exists. In the event that such Control ceases to exist, such Affiliate will be deemed to have withdrawn from OSLC. “Control” means, with respect to an Entity, direct or indirect beneficial ownership of or the right to exercise (i) greater than fifty percent (50%) of the voting stock or equity of that Entity, or (ii) greater than fifty percent (50%) of the ownership interest representing the right to make the decisions for that Entity in the event that there is no voting stock or equity.
      p 
      p “Compliant Implementation” means an implementation of all required portions of a Final Specification within the bounds of the Workgroup Charter.
      p 
      p “Contribution” means a submission in writing or electronically to a Specification being developed by a Workgroup, which may include, but is not limited to, suggestions, comments, recommendations, feedback, or edits by a Member proposing an addition to or modification of a Specification.
      p 
      p “Core Workgroup” means the the OSLC Core Workgroup, which defines essential technical elements that should be common to all OSLC Specifications, and offers guidance on common concerns for creating, updating, retrieving, and linking to lifecycle resources. The Core Workgroup creates Specifications that embody these essential technical elements and the best practices its Workgroup Members have learned as a community and from the work of the other OSLC Workgroups. Specifications created by other OSLC Workgroups should be based on the Specifications created by the Core Workgroup, enabling the other Workgroups to focus more exclusively on domain-specific concerns.
      p 
      p “Draft Specification” means a Specification that is under development, revision, consideration or the like by a Workgroup, but is not yet a Final Specification.
      p 
      p “Entity” means any group of two or more persons and/or other groups of persons acting for a collective purpose, including, but not limited to: organizations, corporations; partnerships; non-profit organizations; academic institutions; government agencies; trade associations and SDOs.
      p 
      p “Entity Group” means a group comprised of the OSLC Member that signs the WPA, the Entity specified in the WPA as being represented by the OSLC Member, and Affiliates of the Entity.
      p 
      p “Entity Group Member” means a member of an Entity Group, including any of the OSLC Member that signed the WPA, the Entity specified in the WPA as being represented by the OSLC Member and Affiliates of the Entity.
      p 
      p “Final Specification” means a Draft Specification that has been approved in final form by the Steering Committee.
      p 
      p “Independent OSLC Member” means an OSLC Member who executed an OSLC Member Agreement as an independent individual and does not represent another Entity.
      p 
      p “IPR Review Period” means a period of thirty (30) days following notification to Workgroup Members that a Draft Specification is ready for review prior to approval as a Final Specification by the Steering Committee.
      p 
      p “Necessary Claim” means a claim of a patent or patent application other than design patents and design registrations, throughout the world that: (a) is owned, controlled, or licensable by an Entity Group Member now or at any future time; and (b) is necessarily infringed by implementing those required portions of a Final Specification that is within the Workgroup Charter, provided that a claim is necessarily infringed only when there is no technically reasonable non-infringing alternative for implementing such portions of the Final Specifications. A Necessary Claim does not include any (i) claim contained in the same patent or patent application as a Necessary Claim that does not itself satisfy the definition of a Necessary Claim; (ii) claim that would require a payment of a royalty or other consideration by the Entity Group Member to an unaffiliated third party; (iii) claim covering any enabling technology that may be necessary to develop, design, manufacture, sell or use a Compliant Implementation but is not expressly set forth as required in a Final Specification (examples of such technologies include without limitation: basic computer or network technology, semiconductor manufacturing technology, compiler technology, basic operating system technology); (iv) claim covering the implementation or use of specifications or documents published by entities other than OSLC that are referenced in the body of a Final Specification but not described with specificity; or (v) claim covering any product or process that are not required for conformance with the Final Specification.
      p 
      p “OSLC” means the OSLC Members, collectively; i.e., the OSLC Members collectively constitute OSLC.
      p 
      p “OSLC Governance and Participation Documents” means, collectively: this IP Policy, the OSLC Bylaws; the OSLC Member Agreement; Workgroup Participation Agreement; and any other OSLC documents setting forth OSLC governance or participation rules that are approved by the OSLC Steering Committee.
      p 
      p “OSLC Member” means an individual who executes an OSLC Member Agreement.
      p 
      p “OSLC Website Terms of Use” means the terms of use of the OSLC Website.
      p 
      p “OSLC Website” means the domain: http://open-services.net, and any sub-domains thereof, or any successor domain under which the OSLC primarily operates. All policies governing participation in, or contributions to, the general website, independent of OSLC Membership, are controlled by the OSLC Website Terms of Use.
      p 
      p “Other Material” means any material, other than a Specification, and may include but is not limited to, roadmaps, scenarios, white papers, wiki or blog entries, forum postings, or instruction and directional documents.
      p 
      p “Other Submission” means any submission to Other Material.
      p 
      p “Specification” means a document that prescribes, in a complete, precise, and verifiable manner, the requirements, behavior, and interfaces of a software system or component, or the method by which multiple Specifications should be used together, to provide an interoperable development or run-time environment for open lifecycle integrations technologies and techniques.
      p 
      p “Steering Committee” means the committee defined in the Section of these Bylaws titled “Steering Committee.”
      p 
      p “Target SDO” means a standards development organization (SDO) to which a Final Specification of a Workgroup is intended to be contributed.
      p 
      p “Workgroup” means a group of OSLC Members who collectively develop for OSLC a Specification and perhaps Other Material under the terms and conditions of the relevant OSLC Governance and Participation Documents, including the Workgroup Participation Agreements that each OSLC Member who participates in the Workgroup must execute to become a Workgroup Member.
      p 
      p “Workgroup Member” means, for a specific Workgroup, an OSLC Member who has signed a Workgroup Participation Agreement to become a member of the Workgroup.
      p 
      p “WPA” means Workgroup Participation Agreement.
      
      h3 Article II. Obligations Upon Joining a Workgroup
      
      p By signing a WPA for a Workgroup, an OSLC Member becomes a Workgroup Member of the Workgroup and binds the Entity Group Members to the terms and conditions of this IP Policy.
      
      p By signing a WPA, Workgroup Member, on behalf of its Entity Group Members, represents, warrants and covenants to the OSLC that
      
      ol
        li Workgroup Member has the authority to execute the WPA and to perform its obligations under this IP Policy;
        li the execution and performance of the WPA does not and will not violate any agreement to which an Entity Group Member is a party or by which Entity Group Member is otherwise bound;
        li when executed and delivered, the WPA will constitute a legal, valid and binding obligation of Entity Group Members, enforceable in accordance with its terms;
        li Workgroup Member’s Contributions do not violate or incorporate the copyright or trade secret interests of another party;
        li neither providing nor using Workgroup Member’s Contributions are conditioned upon additional agreements other than the licenses granted herein;
        li Workgroup Member has no knowledge that any claim has been asserted against any Entity Group Member in writing that Workgroup Member’s Contribution would violate any intellectual property rights, including patent rights, of another party; and
        li Workgroup Member has no knowledge that Workgroup Member has been intentionally shielded by another Entity Group Member from access to any information for the purpose of evading this obligation.
      
      h3 Article III. Patents
      
      h4 A. Royalty-free License Commitment
      
      p Subject to the terms and conditions of this IP Policy, and except to the extent a Workgroup Member submits a Exclusion Notification pursuant to Article III.B. below, each Entity Group Member grants to any party a non-exclusive, worldwide, royalty-free license under the Necessary Claims of the Entity Group Member to make, use, sell, offer to sell, export, and import Compliant Implementations of any Final Specification produced by this Workgroup (“Royalty-free License”).
      
      h4 B. Limited Opt-Down; IPR Review Period
      
      p A Workgroup Member, on behalf of its Entity Group, may opt-down the license commitment for a Necessary Claim from a Royalty Free License to a RAND License, as defined in this Article III.B, if:
      
      ol 
        li The Necessary Claim did not become a Necessary Claim as a result of a Contribution of the Workgroup Member or another Workgroup Member that is a representative of the same Entity Group; and
        li The Workgroup Member identifies the Necessary Claim in writing to the Steering Committee by no later than the end of the close of the IPR Review Period, but as soon as reasonably known, as a Necessary Claim for which the Entity Group is unwilling to agree to grant the Royalty Free License pursuant to Article III.A (referred to hereinafter as an “Exclusion Notification”); and
        li The Exclusion Notification includes the following information: the name of the Entity Group Member that owns the Necessary Claim; the patent number including the Necessary Claim if the patent is granted or the patent application number if the Necessary Claim is contained in a pending application; the claim number of the Necessary Claim; and the required portion(s) of the Draft Specification that, if implemented as part of a Compliant Implementation of the Draft Specification, would necessarily infringe the Necessary Claim.
      
      p If an Exclusion Notification has been properly submitted in accordance with this Article III.B, and the Steering Committee decides to approve the Draft Specification as a Final Specification, then the Entity Group Member agrees to grant to any party, upon written request, a license under reasonable and non-discriminatory terms and conditions for those Necessary Claims contained in the patents or patent applications identified in the Exclusion Notification, for so long as such Necessary Claims are valid and enforceable, to make, use, sell, offer to sell, export, and import Compliant Implementations (“RAND License”). The Entity Group Member will make a reasonable and non-discriminatory written offer to the party who made such request within a reasonable time following such request, and failure to do so will result in an immediate granting of a Royalty Free License to the requesting party by the Entity Group Member. The commitment to grant a RAND license under this section is effective upon approval by the Steering Committee of the Draft Specification as a Final Specification.
      
      h4 C. Defensive Suspension or Termination
      
      p A Workgroup Member may suspend or terminate a Royalty-free License or RAND License to any party that:
      ol
        li asserts a patent in litigation against a Compliant Implementation, or
        li otherwise knowingly asserts or threatens to initiate a lawsuit that would assert that a Compliant Implementation would infringe a patent owned or controlled by such party,
      p unless such party withdraws the patent assertions in 1 or 2 above promptly after being informed that the assertions are being made against a Compliant Implementation.
      
      h4 D. Transfer of Necessary Claims
      
      p Workgroup Member agrees that any transfer of its Necessary Claims shall be subject to the licensing grant under Article III of this Agreement or shall otherwise provide in some other way that the license grant shall continue after such transfer. Workgroup Member further agrees that
      ol
        li to the knowledge of Workgroup Member, no Entity Group Member has transferred or licensed any Necessary Claims for the purpose of avoiding its obligations under this IP Policy, and
        li no Entity Group Member shall transfer or license any Necessary Claims for such purpose.
      
      h4 E. Termination and Survival
      
      p Notwithstanding a Workgroup Member’s withdrawal from this Workgroup, or termination or withdrawal of its membership in OSLC, a Workgroup Member’s patent license commitments under Article III shall remain in full force and effect for any Final Specification of this Workgroup for which a Draft Specification was posted on the OSLC Website prior to such withdrawal or termination (“Participated Specification”).
      
      p For any Final Specification for which a first Draft Specification was posted on the OSLC Website after such withdrawal or termination (“Future Specification”), a Workgroup Member’s license grants under Article III shall remain in full force and effect for a given Necessary Claim only if:
      ol 
        li such Necessary Claim also was a Necessary Claim in a Participated Specification; and
        li the Future Version has not materially deviated from the Scope of the Workgroup Charter.
      
      h3 Article IV. Copyrights
      
      h4 A. Contributions
      
      p Workgroup Member grants to other Workgroup Members a worldwide, irrevocable, nonexclusive, nontransferable, royalty-free, fully paid-up copyright license to reproduce, create derivative works of, distribute to other OSLC Members and publish on the OSLC Website its Contributions and such derivative works for the sole purpose of developing Draft and Final Specifications of this Workgroup for publication on the OSLC Website.
      
      h4 B. Final Specifications
      
      p Workgroup Member grants to OSLC an irrevocable, nonexclusive, nontransferable, royalty-free, fully paid-up copyright license to publish Final Specifications on the OSLC Website.
      
      p Workgroup Member grants to any party a worldwide, irrevocable, nonexclusive, nontransferable, royalty-free, fully paid-up copyright license to copy and distribute internally within the Entity that employs such party a Final Specification of the Workgroup for the sole purpose of evaluating and/or implementing the Final Specification. No other copyrights, including the rights to create derivative works, publicly distribute, publicly display or publicly perform, a Final Specification are granted to such party. A Compliant Implementation is not considered a derivative work of a Final Specification.
      
      h4 C. Other Submissions
      
      p Workgroup Member makes Other Submissions available to all parties under the terms and conditions of the OSLC Terms of Use.
      
      h4 D. Copyright Notice
      
      OSLC shall include the following notice on Final Specifications and any other Material produced by the Workgroup Members for publication:
      
      blockquote
        p © Copyright [insert year] by the following authors of the OSLC [Insert name of Workgroup]: [list of Entities represented by authors].
        
        p THIS DOCUMENT IS PROVIDED “AS IS,” AND OSLC , OSLC AND ITS MEMBERS, THE STEERING COMMITTEE AND ITS MEMBERS, THE OSLC WORKGROUP THAT CREATED THIS DOCUMENT AND ITS MEMBERS (“THE OSLC PARTIES”) MAKE NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NONINFRINGEMENT, OR TITLE; THAT THE CONTENTS OF THIS DOCUMENT ARE SUITABLE FOR ANY PURPOSE; OR THAT THE IMPLEMENTATION OF SUCH CONTENTS WILL NOT INFRINGE ANY PATENTS, COPYRIGHTS, TRADEMARKS OR OTHER RIGHTS. NONE OF THE OSLC PARTIES WILL BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR RELATING TO ANY USE OR DISTRIBUTION OF THIS DOCUMENT UNLESS SUCH DAMAGES ARE CAUSED BY WILFUL MISCONDUCT OR GROSS NEGLIGENCE. THE FOREGOING DISCLAIMER AND LIMITATION ON LIABILITY DO NOT APPLY TO, INVALIDATE, OR LIMIT REPRESENTATIONS AND WARRANTIES MADE BY OSLC MEMBERS TO OSLC AND OTHER OSLC MEMBERS IN CERTAIN WRITTEN POLICIES OF OSLC.
        
      p Workgroup Member agrees to include the above notice on all Specifications of the Workgroup, and further agrees to retain such notice in any copies of the Specification that the Workgroup Member produces.
      
      h4 E. Termination and Survival
      
      p All obligations pursuant to this Article IV shall survive a Member’s withdrawal from this Workgroup or withdrawal or termination of its membership in OSLC.
      
      h3 Article V. Trademarks, Certification Marks and Logos
      
      p n the event that OSLC proposes to adopt any name, logo, trademark, certification mark or trade name (collectively, “OSLC Marks”) for use with any of the Specifications, or with any other documentation, processes or services that implement and conform to the requirements of the Final Specifications, the Steering Committee shall notify the Workgroup Members at least forty five (45) days in advance. OSLC shall take any steps that the Steering Committee deems necessary and proper to protect its rights under such OSLC Marks. Workgroup Member agrees that, unless it provides written Notice to the Steering Committee challenging the use of the proposed Mark prior to its adoption by the Steering Committee, the Member and its Affiliates shall not bring a legal claim against OSLC, any OSLC Member or its Affiliates for their use of such OSLC Marks.
      
      h3 Article VI. No Confidential Information
      
      p No Contributions made to this Workgroup shall be subject to any confidentiality restrictions whatsoever, and will be open for public review on the OSLC Website. Accordingly, Workgroup Member shall not submit any Contribution or feedback subject to any requirement of confidentiality, and all Contributions and feedback shall be deemed non-confidential, notwithstanding any markings or representations to the contrary, and no recipient, including OSLC and its Members, shall have an obligation to treat any such material as confidential.
      
      h3 Article VII. Target SDOs
      
      h4 A. Patent Commitments
      
      p If a Final Specification is submitted to a Target SDO set forth in the Workgroup Charter of this Workgroup, Workgroup Member, on behalf of the Entity Group, agrees to be bound by the terms and conditions of any patent commitments of the Target SDO with respect to any Specification produced by such Target SDO (“Target SDO Specification”), subject to the following limitations:
      
      ol
        li the Target SDO Specification has a scope that is not materially different from the Scope of the Final Specification;
        li any patent commitments are limited to patent claims that are Necessary Claims with respect to a Participated Specification of this Workgroup; and
        li Workgroup Member does not agree to any terms and conditions that require specifying Necessary Claims or the like with respect to any specification of the target SDO, or to conduct an investigation to determine whether Workgroup Member owns or controls the any Necessary Claims or the like with respect to any specification of the Target SDO.
        
      h4 B. Copyright License
      
      p If a Final Specification is submitted to a Target SDO set forth in the Workgroup Charter of this Workgroup, Workgroup Member, on behalf of the Entity Group, grants a worldwide, irrevocable, nonexclusive, nontransferable, royalty-free, fully paid-up copyright license to:
      
      ol
        li reproduce, create derivative works of, distribute to other Target SDO members and publish on the Target SDO website its Contributions and such derivative works for the sole purpose of developing Target SDO Specifications having a scope that is not materially different than the Scope of the Final Specification; and
        li sublicense such Contributions solely as part of such Target SDO Specifications under the terms and conditions prescribed for such Target SDO Specifications by such Target SDO.
        
      h3 Article VIII. OSLC Core Workgroup
      
      p In addition to this Workgroup, Workgroup Member agrees to the terms and conditions set forth in this IP Policy for the OSLC Core Workgroup. For the avoidance of doubt, any Contribution of a Workgroup Member to a Specification of this Workgroup may be used as part of a Specification of the OSLC Core Workgroup (“Core Workgroup Specification”) under the terms and conditions of this IP Policy as if such Core Workgroup Specification was a Specification of this Workgroup.
      
      h3 Article IX. No Other Licenses.
      
      p By executing a WPA, Entity Group Members neither grant nor receive, by implication, estoppel, or otherwise, any rights under any copyright, patents or other intellectual property rights of the OSLC or another OSLC Member, unless expressly granted.

      h3 Article X. Warranty and Disclaimer of Liabilities

      p All information provided by a Workgroup Member while working within a Workgroup is provided “AS IS” WITH NO WARRANTIES WHATSOEVER, WHETHER EXPRESS, IMPLIED, STATUTORY, OR OTHERWISE, AND OSLC AND MEMBER EACH EXPRESSLY DISCLAIMS ANY WARRANTY OF MERCHANTABILITY, NONINFRINGEMENT, FITNESS FOR ANY PARTICULAR PURPOSE, OR ANY WARRANTY OTHERWISE ARISING OUT OF ANY PROPOSAL, SPECIFICATION, OR SAMPLE.

      p Workgroups are acting solely as a facilitator at the request of OSLC Members and for their convenience, and will not be deemed to be an agent of any OSLC Member except as expressly provided in this IP Policy or a WPA. Workgroups shall not be liable to any of the OSLC Members for any action or omission taken or made in good faith that is not in breach of this IP Policy or a WPA. IN NO EVENT WILL OSLC OR ANY OSLC MEMBER BE LIABLE TO ANY OTHER OSLC MEMBER OR ANY THIRD PARTY FOR THE COST OF PROCURING SUBSTITUTE GOODS OR SERVICES, LOST PROFITS, LOSS OF USE, LOSS OF DATA OR ANY INCIDENTAL, CONSEQUENTIAL, DIRECT, INDIRECT, OR SPECIAL DAMAGES, WHETHER UNDER CONTRACT, TORT, WARRANTY OR OTHERWISE, ARISING IN ANY WAY OUT OF THIS OR ANY OTHER RELATED AGREEMENT, WHETHER OR NOT SUCH PARTY HAD ADVANCE NOTICE OF THE POSSIBILITY OF SUCH DAMAGES.

      h3 Article XI. Conflicts

      p To the extent any terms and conditions of this IP Policy conflict with the terms and conditions of the WPA or the Bylaws, the terms and conditions of this IP Policy shall control.

      h3 Article XII. Privacy

      p Unless otherwise stated in this IP Policy, personally-identifiable information that you submit to OSLC in connection with execution of a WPA or participation in a Workgroup, will be handled in accordance with the privacy policies of the OSLC Website. Please click here for information regarding the OSLC Website privacy policies.

      h3 Article XIII. Interpretation of this IP Policy

      p This IP Policy and any WPA within which it is included or incorporated by reference, shall be construed under and governed by the laws of the State of New York, USA, without reference to conflict-of-laws principles.
      

  article.document
    .header
      h1.title ALM-PLM Interoperability Charter
    .content.copy
      h3 Scope

      p The goal of this effort is to define a common set of resources, formats and RESTful requests for the use in scenarios across Application Lifecycle Management (ALM) and Product Lifecycle Management (PLM).

      p The workgroup advocates use of existing OSLC Specifications towards such ALM-PLM interoperability scenarios, proposes extensions to existing OSLC Core or domain Specifications and owns a newly proposed specification for Product definition (PD) resources to support definition of Products. This scope has been selected as a first phase towards supporting interoperability along a product lifecycle.

      h3 Deliverables

      p The ALM-PLM Interoperability Workgroup will produce:

      ul
        li Scenarios – these will guide the priorities and specification contents within the Workgroup
        li Specifications – both maintenance of existing specifications, guidance on usage and new specification
        li Supporting and enabling material – on an as-needed basis to support broad adoption

      h3 Relationship to other activities and workgroups

      p The ALM-PLM interoperability workgroup works closely with other domain workgroups to highlight application of existing OSLC Core and domain specifications towards ALM-PLM interoperability, to propose extensions, such as in the support for versioning with OSLC Core.

      p The ALM-PLM interoperability workgroup aims to illustrate and promote practical alignment of OSLC with other well known initiatives for the product lifecycle and with well known application. Hence it has shown examples applying aspects of ISO 10303 STEP like AP214, AP233, AP239 and vendor XML dialects like PLMXML from Siemens Teamcenter.

      p For more information, see the Workgroup Best Practices.
      
      h3 Target Specification Development Organizations (SDOs)
      
      p Specifications developed by this WG may be contributed to these SDOs:
      
      ul       
        li W3C (IP Policy)
        li OASIS (IP Policy)
        li DMTF (IP Policy)
        li OMG (IP Policy)
        
      p This contribution to these SDOs is dependent on maturing the specifications within this WG and gaining consensus on the contribution. At that point, the WG would make a proposal to the OSLC Steering Committee for such a move. For more information, see the Workgroup Best Practices.
      
      h3 Participation
      
      p By agreeing to become a member of this Workgroup, this implies some amount of time and contribution to assist in the development and promotion of the specification. There is no minimal amount of time or level of participation.
      
      p It is recommended that each member should expect to:
      
      ul
        li attend the teleconferences
        li participate in off-line mailing list discussions
        li contribute and review scenarios
        li participate in prioritization activities
        li potentially lead the Workgroup and/or meetings
        li contribute specification content in the form of proposals and actual specification text
        li edit and organize the specification
        li address specification issues
        li contribute to a test suite
        li produce implementation feedback in form of implementation reports

      h3 Meetings Frequency and Communications

      p The ALM-PLM interoperability workgroup meets frequently, almost weekly, with a monthly “Main” meeting. The meeting schedule can be found here.

      p Minutes are posted into the meeting invite as the meeting record.

      h3 Decision Policy

      p Decisions within this Workgroup are consensus driven, facilitated by the Workgroup Lead.

      p The Workgroup members nominate a Lead. Workgroup members work to reach consensus to select the Lead or co-Leads should be. Having more than one Workgroup Lead is preferred but not required.

      h3 Intellectual property

      p Members of this Workgroup agree to this Workgroup Participation Agreement.
      
  article.document
    .header
      h1.title Change Management Charter
    .content.copy
      h3 Scope
      
      p etc, etc.

  article.document
    .header
      h1.title Quality Management Charter
    .content.copy
      h3 Scope
      
      p etc, etc.

  article.document
    .header
      h1.title Requirements Management Charter
    .content.copy
      h3 Scope
      
      p etc, etc.

//.form
  form(action="#")
    fieldset
      legend Log in
    
      .control
        label(for="login_username") Email or username
        input.text(type="text", required, name="username", id="login_username", placeholder="eg jsmith@example.com")
        p.help Email is a thing that we use now!
        
      .control
        label(for="login_password") Password
        input.text(type="password", required, name="password", id="login_password")
        p.help Passwords should be 9 characters with 1000 punctuation marks
    
      .control
        button.btn.primary(type="submit") Log in
      
    p.help
      a(href="#") Register
      | &ensp;
      a(href="#") Forgot your password?

.form
  form(action="#")
    fieldset.fieldset
      legend Your information
      
      .control
        label(for="wpa_name") Your name
        input.text#wpa_name(type="text" required placeholder="e.g. John Smith")
        
      .control
        label(for="wpa_email") Email
        input.text#wpa_email(type="email" required placeholder="e.g. jsmith@example.com")

      .control
        label(for="wpa_jerb") Job title
        input.text#wpa_jerb(type="text" required placeholder="e.g. Software engineer")
        
      .control
        label(for="wpa_phone") Phone number
        input.text#wpa_phone(type="tel" required placeholder="e.g. +15555555555")
        
      .control
        label(for="wpa_addy") Address
        textarea.text#wpa_addy(rows="4" required placeholder="e.g. 123 Fake St, Springfield, USA 97477")
    
    //fieldset.fieldset
      legend Are you representing anyone?
      
      p.help Will you be serving as a representative for a company or organization?
      
      .menu.horizontal(data-manilla)      
        label.item(for="agreement_representing") 
          input#agreement_representing(type="radio" name="representing_or_independent" value="representing someone" required data-target="#representative")
          | Yep
        label.item(for="agreement_solo") 
          input#agreement_solo(type="radio" name="representing_or_independent" value="Independent" data-target="#solo")
          | Nope
    
    //.tabpanels.fieldset
      #representative
        fieldset
          legend Tell us about the organization you are representing
          
          .control
            label(for="wpa_org") Organization name
            input.text#wpa_org(type="text" name="oslc_org")
            
          .control
            label(for="wpa_org_url") Organization URL
            .input.prefixed
              span.prefix http://
              input.text#wpa_org_url(type="text" name="oslc_org_url")
            
            
          .control
            p The above &hellip;
            .menu
              label.item(for="agreement_representing_entity_is_employer")
                input#agreement_representing_entity_is_employer(type="radio" name="employer_or_sponsor" value="Employer")
                | is my employer
              label.item(for="agreement_representing_entity_is_sponsor")
                input#agreement_representing_entity_is_sponsor(type="radio" name="employer_or_sponsor" value="Sponsor")
                | is not my employer but sponsors my participation in OSLC
          .control
            p
              label(for="agreement_representing_primary_contact") 
                input#agreement_representing_primary_contact(type="checkbox" name="is_pinciple" value="y")
                | &ensp;I will be the primary contact for this organization
                
      #solo
        fieldset
          legend Tell us about your current employment
          
          .control
            .menu.horizontal(data-manilla)
              label.item(for="indy_solo")
                input#indy_solo(type="radio" name="solo_or_employed" value="Unemployed or self-employed" data-target="#indy_and_unemployed")
                | Unemployed or self-employed
              label.item(for="indy_employed")
                input#indy_employed(type="radio" name="solo_or_employed" value="Unemployed or self-employed" data-target="#indy_and_totally_employed")
                | I am an employee

          .tabpanels.control
            #indy_and_unemployed
            #indy_and_totally_employed
              .control
                label(for="indy_org_name") Employer name
                input.text#indy_org_name(type="text" name="oslc_indy_org_name")
            
              .control
                label(for="wpa_indy_org_url") Employer URL
                .input.prefixed
                  span.prefix http://
                  input.text#wpa_indy_org_url(type="text" name="indy_org_url")
            
    
    fieldset.fieldset
      legend Confirm your status
      
      .control.options
        .media
          .image
            input.radio#status_confirm(type="radio" required name="status" value="yep")
          .body
            label(for="status_confirm")
              strong You are still a representative for the entity “ENTITYNAME”; 
              |  You have the authority to enter into this agreement on behalf of ENTITYNAME. You agree to notify a Member of the Steering Committee if this status changes.
        .media
          .image
            input.radio#status_deny(type="radio" name="status" value="nope")
          .body
            label(for="status_deny")
              strong Your status has changed.
              |  You are no longer a representative of ENTITYNAME.

    fieldset.fieldset
      legend Confirm information about the entity that you represent
      
      .control.options
        .media
          .image
            input.radio#entity_us(type="radio" required name="entity_location" value="US")
          .body
            label(for="entity_us") ENTITYNAME is incorporated and headquartered (at the highest level) outside of the European Union
        .media
          .image
            input.radio#entity_eu(type="radio" name="entity_location" value="EU")
          .body
            label(for="entity_eu") 
              | ENTITYNAME is incorporated and headquartered (at the highest level) in a country that is a member of the European Union

    fieldset.fieldset
      legend (Optional) Attach the Corporate Authorization Form
        
      .control.options
        input.file#corporate_auth(type="file" name="corporate_auth_file")
        p.help If you have a scanned copy of the completed Corporate Authorization Form, attach it here.
        p.help Only attach the form if the entity that you are representing is headquartered in the European Union
        p.help If you need a Corporate Authorization Form, click here and then print this page.
        
        .notice.warning
          .header
            .title What's going on here?
          .body
            .copy
              p To complete the Workgroup Participation Agreement you must provide an electronic signature, which some countries in the European Union do not accept as a valid signature.
              p If you are representing an entity that is headquartered in the European Union, you must print, complete, and send us a Corporate Authorization form that states that you are authorized to complete this Workgroup Participation Agreement.

    fieldset.fieldset
      legend Agree to the ALM-PLM Interoperability Workgroup Participation Agreement and Intellectual Property Policy
      
      .control
        label(for="esig") Electronic signature
        input#esig.text(type="text" required placeholder="e.g. /John Smith/" pattern="/John Smith/")
        p.help Type a “/”, then your name 
          em exactly as it appears
          |  in the 
          b Your name
          |  field, and then another “/”
          
      .control
        button.btn.primary(type="submit") You agree