/*
 * Text size mixins / placeholders
 */

@mixin font-size($size: m, $line-height: l) {
  $font-size: map-get($font-sizes,$size); 

  @include rem(font-size, $font-size);

  @if type-of($line-height) == string {
    $line-height: (map-get($font-sizes, $line-height) / $font-size);
  }
  
  line-height: $line-height;
}

@mixin text-size-xs { @include font-size(xs,s); }
@mixin text-size-s { @include font-size(s,m); }
@mixin text-size-m { @include font-size(m,l); }
@mixin text-size-l { @include font-size(l,xl); }
@mixin text-size-xl { @include font-size(xl,xxl); }
@mixin text-size-xxl { @include font-size(xxl,xxxl); }
@mixin text-size-xxxl { @include font-size(xxxl,xxxxl); }
@mixin text-size-xxxxl { @include font-size(xxxxl,xxxxxl); }
@mixin text-size-xxxxxl { @include font-size(xxxxxl,1.05); }

@include exports('typography-placeholders') {
  /* TYPOGRAPHY PLACEHOLDERS */
  
  @each $name, $size in map-remove($font-sizes,n) {
    $index: index(map-keys($font-sizes),$name)+1;
    $line: 1.05;
  
    @if $index <= length($font-sizes) {
      $line: nth(map-keys($font-sizes),$index);
    }
  
    %text-size-#{$name} {
      @include font-size($name,$line)
    }
  
    %font-size-#{$name} { @extend %text-size-#{$name}; }
  }

}