
.grunticon-action-outgoing {
  background-image: url('png/action-outgoing.png');
  @include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-channel-article {
  background-image: url('png/channel-article.png');
  @include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-channel-podcast {
  background-image: url('png/channel-podcast.png');
  @include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-channel-presentation {
  background-image: url('png/channel-presentation.png');
  @include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-channel-tool {
  background-image: url('png/channel-tool.png');
  @include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-channel-tutorial {
  background-image: url('png/channel-tutorial.png');
  @include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-channel-video {
  background-image: url('png/channel-video.png');
  @include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-channel-website {
  background-image: url('png/channel-website.png');
  @include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-channel-whitepaper {
  background-image: url('png/channel-whitepaper.png');
  @include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-logo-med {
  background-image: url('png/logo-med.png');
  @include icon;
  height: 180px;
  width: 216px;
    
  &.intrinsic {
    padding-top: 180px / 216px * 100%;
  }
}


.grunticon-logo-small {
  background-image: url('png/logo-small.png');
  @include icon;
  height: 50px;
  width: 60px;
    
  &.intrinsic {
    padding-top: 50px / 60px * 100%;
  }
}


.grunticon-meta-downloads {
  background-image: url('png/meta-downloads.png');
  @include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-meta-link {
  background-image: url('png/meta-link.png');
  @include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-meta-presenters {
  background-image: url('png/meta-presenters.png');
  @include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-navtoggle-close {
  background-image: url('png/navtoggle-close.png');
  @include icon;
  height: 25px;
  width: 28px;
    
  &.intrinsic {
    padding-top: 25px / 28px * 100%;
  }
}


.grunticon-navtoggle-menu {
  background-image: url('png/navtoggle-menu.png');
  @include icon;
  height: 25px;
  width: 28px;
    
  &.intrinsic {
    padding-top: 25px / 28px * 100%;
  }
}


.grunticon-next {
  background-image: url('png/next.png');
  @include icon;
  height: 32px;
  width: 32px;
    
  &.intrinsic {
    padding-top: 32px / 32px * 100%;
  }
}


.grunticon-pagination-first {
  background-image: url('png/pagination-first.png');
  @include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-pagination-last {
  background-image: url('png/pagination-last.png');
  @include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-pagination-next {
  background-image: url('png/pagination-next.png');
  @include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-pagination-previous {
  background-image: url('png/pagination-previous.png');
  @include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-previous {
  background-image: url('png/previous.png');
  @include icon;
  height: 32px;
  width: 32px;
    
  &.intrinsic {
    padding-top: 32px / 32px * 100%;
  }
}


.grunticon-tag-favorite {
  background-image: url('png/tag-favorite.png');
  @include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-wordmark-med {
  background-image: url('png/wordmark-med.png');
  @include icon;
  height: 26px;
  width: 100px;
    
  &.intrinsic {
    padding-top: 26px / 100px * 100%;
  }
}


.grunticon-wordmark-small {
  background-image: url('png/wordmark-small.png');
  @include icon;
  height: 18px;
  width: 66px;
    
  &.intrinsic {
    padding-top: 18px / 66px * 100%;
  }
}

