
.grunticon-carousel-main {
  background-image: url('png/carousel-main.png');
  @include icon;
  
  &.autosize {
    height: 120px;
    width: 60px;
  }
  
  &.intrinsic {
    padding-top: 120px / 60px * 100%;
  }
}


.grunticon-carousel-wiki {
  background-image: url('png/carousel-wiki.png');
  @include icon;
  
  &.autosize {
    height: 120px;
    width: 60px;
  }
  
  &.intrinsic {
    padding-top: 120px / 60px * 100%;
  }
}


.grunticon-logo-med {
  background-image: url('png/logo-med.png');
  @include icon;
  
  &.autosize {
    height: 180px;
    width: 216px;
  }
  
  &.intrinsic {
    padding-top: 180px / 216px * 100%;
  }
}


.grunticon-logo-small {
  background-image: url('png/logo-small.png');
  @include icon;
  
  &.autosize {
    height: 50px;
    width: 60px;
  }
  
  &.intrinsic {
    padding-top: 50px / 60px * 100%;
  }
}


.grunticon-navtoggle-close {
  background-image: url('png/navtoggle-close.png');
  @include icon;
  
  &.autosize {
    height: 25px;
    width: 28px;
  }
  
  &.intrinsic {
    padding-top: 25px / 28px * 100%;
  }
}


.grunticon-navtoggle-menu {
  background-image: url('png/navtoggle-menu.png');
  @include icon;
  
  &.autosize {
    height: 25px;
    width: 28px;
  }
  
  &.intrinsic {
    padding-top: 25px / 28px * 100%;
  }
}


.grunticon-wordmark-med {
  background-image: url('png/wordmark-med.png');
  @include icon;
  
  &.autosize {
    height: 26px;
    width: 100px;
  }
  
  &.intrinsic {
    padding-top: 26px / 100px * 100%;
  }
}


.grunticon-wordmark-small {
  background-image: url('png/wordmark-small.png');
  @include icon;
  
  &.autosize {
    height: 18px;
    width: 66px;
  }
  
  &.intrinsic {
    padding-top: 18px / 66px * 100%;
  }
}

