
.grunticon-action-outgoing {
  background-image: url('png/action-outgoing.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-channel-article {
  background-image: url('png/channel-article.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-channel-podcast {
  background-image: url('png/channel-podcast.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-channel-presentation {
  background-image: url('png/channel-presentation.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-channel-tool {
  background-image: url('png/channel-tool.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-channel-tutorial {
  background-image: url('png/channel-tutorial.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-channel-video {
  background-image: url('png/channel-video.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-channel-website {
  background-image: url('png/channel-website.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-channel-whitepaper {
  background-image: url('png/channel-whitepaper.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-js-close {
  background-image: url('png/js-close.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-js-infotip {
  background-image: url('png/js-infotip.png');
  //@include icon;
  height: 14px;
  width: 14px;
    
  &.intrinsic {
    padding-top: 14px / 14px * 100%;
  }
}


.grunticon-logo-med {
  background-image: url('png/logo-med.png');
  //@include icon;
  height: 100px;
  width: 100px;
    
  &.intrinsic {
    padding-top: 100px / 100px * 100%;
  }
}


.grunticon-logo-small {
  background-image: url('png/logo-small.png');
  //@include icon;
  height: 50px;
  width: 50px;
    
  &.intrinsic {
    padding-top: 50px / 50px * 100%;
  }
}


.grunticon-menu-author {
  background-image: url('png/menu-author.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-menu-organization {
  background-image: url('png/menu-organization.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-menu-remove-filter {
  background-image: url('png/menu-remove-filter.png');
  //@include icon;
  height: 12px;
  width: 12px;
    
  &.intrinsic {
    padding-top: 12px / 12px * 100%;
  }
}


.grunticon-menu-sort {
  background-image: url('png/menu-sort.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-menu-status {
  background-image: url('png/menu-status.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-menu-tag {
  background-image: url('png/menu-tag.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-menu-workgroup {
  background-image: url('png/menu-workgroup.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-meta-ancestry {
  background-image: url('png/meta-ancestry.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-meta-charter {
  background-image: url('png/meta-charter.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-meta-consumes {
  background-image: url('png/meta-consumes.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-meta-contributing-organizations {
  background-image: url('png/meta-contributing-organizations.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-meta-downloads {
  background-image: url('png/meta-downloads.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-meta-forum {
  background-image: url('png/meta-forum.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-meta-ghost-town {
  background-image: url('png/meta-ghost-town.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-meta-lead {
  background-image: url('png/meta-lead.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-meta-link {
  background-image: url('png/meta-link.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-meta-links {
  background-image: url('png/meta-links.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-meta-mailing-list {
  background-image: url('png/meta-mailing-list.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-meta-meetings {
  background-image: url('png/meta-meetings.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-meta-membership {
  background-image: url('png/meta-membership.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-meta-organization {
  background-image: url('png/meta-organization.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-meta-presenters {
  background-image: url('png/meta-presenters.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-meta-produces {
  background-image: url('png/meta-produces.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-meta-specifications {
  background-image: url('png/meta-specifications.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-meta-status {
  background-image: url('png/meta-status.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-meta-statusFinal {
  background-image: url('png/meta-statusFinal.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-meta-statusFinalize {
  background-image: url('png/meta-statusFinalize.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-meta-statusInactive {
  background-image: url('png/meta-statusInactive.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-meta-wiki {
  background-image: url('png/meta-wiki.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-meta-workgroup {
  background-image: url('png/meta-workgroup.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-nag-close {
  background-image: url('png/nag-close.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-navtoggle-close {
  background-image: url('png/navtoggle-close.png');
  //@include icon;
  height: 25px;
  width: 28px;
    
  &.intrinsic {
    padding-top: 25px / 28px * 100%;
  }
}


.grunticon-navtoggle-menu {
  background-image: url('png/navtoggle-menu.png');
  //@include icon;
  height: 25px;
  width: 28px;
    
  &.intrinsic {
    padding-top: 25px / 28px * 100%;
  }
}


.grunticon-next {
  background-image: url('png/next.png');
  //@include icon;
  height: 32px;
  width: 32px;
    
  &.intrinsic {
    padding-top: 32px / 32px * 100%;
  }
}


.grunticon-pagination-first {
  background-image: url('png/pagination-first.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-pagination-last {
  background-image: url('png/pagination-last.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-pagination-next {
  background-image: url('png/pagination-next.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-pagination-previous {
  background-image: url('png/pagination-previous.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-previous {
  background-image: url('png/previous.png');
  //@include icon;
  height: 32px;
  width: 32px;
    
  &.intrinsic {
    padding-top: 32px / 32px * 100%;
  }
}


.grunticon-sextant-backToTop {
  background-image: url('png/sextant-backToTop.png');
  //@include icon;
  height: 10px;
  width: 10px;
    
  &.intrinsic {
    padding-top: 10px / 10px * 100%;
  }
}


.grunticon-sextant-menu {
  background-image: url('png/sextant-menu.png');
  //@include icon;
  height: 24px;
  width: 24px;
    
  &.intrinsic {
    padding-top: 24px / 24px * 100%;
  }
}


.grunticon-social-github {
  background-image: url('png/social-github.png');
  //@include icon;
  height: 24px;
  width: 24px;
    
  &.intrinsic {
    padding-top: 24px / 24px * 100%;
  }
}


.grunticon-social-google {
  background-image: url('png/social-google.png');
  //@include icon;
  height: 24px;
  width: 24px;
    
  &.intrinsic {
    padding-top: 24px / 24px * 100%;
  }
}


.grunticon-social-linkedin {
  background-image: url('png/social-linkedin.png');
  //@include icon;
  height: 24px;
  width: 24px;
    
  &.intrinsic {
    padding-top: 24px / 24px * 100%;
  }
}


.grunticon-social-rss {
  background-image: url('png/social-rss.png');
  //@include icon;
  height: 24px;
  width: 24px;
    
  &.intrinsic {
    padding-top: 24px / 24px * 100%;
  }
}


.grunticon-social-twitter {
  background-image: url('png/social-twitter.png');
  //@include icon;
  height: 24px;
  width: 24px;
    
  &.intrinsic {
    padding-top: 24px / 24px * 100%;
  }
}


.grunticon-social-youtube {
  background-image: url('png/social-youtube.png');
  //@include icon;
  height: 24px;
  width: 24px;
    
  &.intrinsic {
    padding-top: 24px / 24px * 100%;
  }
}


.grunticon-tag-favorite {
  background-image: url('png/tag-favorite.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-tag-upcoming {
  background-image: url('png/tag-upcoming.png');
  //@include icon;
  height: 20px;
  width: 20px;
    
  &.intrinsic {
    padding-top: 20px / 20px * 100%;
  }
}


.grunticon-wordmark-med {
  background-image: url('png/wordmark-med.png');
  //@include icon;
  height: 26px;
  width: 100px;
    
  &.intrinsic {
    padding-top: 26px / 100px * 100%;
  }
}


.grunticon-wordmark-small {
  background-image: url('png/wordmark-small.png');
  //@include icon;
  height: 18px;
  width: 66px;
    
  &.intrinsic {
    padding-top: 18px / 66px * 100%;
  }
}

