{if embed:pagetype == "404"} {exp:http_header status="404"} {/if}

<!DOCTYPE html>
{!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ --}
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 ltie8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 ltie8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html xlmns:dc="http://purl.org/dc/elements/1.1/" lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	
	<title property="dc:title">
		{if embed:headtitle}{embed:headtitle}
		{if:elseif {exp:stash:not_empty name="headtitle"} }{exp:stash:get name="headtitle"}
		{if:elseif segment_1 != ""}{structure:page:title}
		{/if}
		{if segment_1 != ""} - {/if}
		{site_label}
	</title>
	
	{!-- We're bigger than the standard 980px for Mobile Safari. Set it larger here. --}
	<meta name="viewport" content="width=1200">
	
	{!-- Modernizr --}
	<script src="{exp:cache_buster file='/js/modernizer.js'}"></script>
	
	<link rel="stylesheet" media="screen,projection" href="{exp:cache_buster file='/css/oslc.css'}">
	<link rel="stylesheet" media="print" href="{exp:cache_buster file='/css/print.css'}">
	
	{!-- jQuery on Google CDN --}
	{!-- Useful to load this first, particularly for Safecracker. Other scripts are at the end of <body> --}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	
	{!-- RSS --}
	{exp:stash:get name="rss_feed"}
	<link rel="alternate" title="News feed for {site_label}" type="application/rss+xml" href="{path='rss'}/">
	
</head>
<body 
	id="{if embed:js_body_id}{embed:js_body_id}{if:elseif {exp:stash:not_empty name='js_body_id'}}{exp:stash:get name='js_body_id'}{/if}" 
	class="{if embed:js_body_class}{embed:js_body_class}{if:elseif {exp:stash:not_empty name='js_body_class'}}{exp:stash:get name='js_body_class'}{/if}" 
	{if embed:pagetype == "basic_legal_agreement"}onunload=""{/if} {!-- This forces a page refresh even on back button --}
	>

	<div id="accessibilityNav">
		<a class="totallyinvisible focusable" href="#main">{lv-accessibility-maincontent-en}</a>
		{if embed:pagetype == "tutorial"}
			<a class="totallyinvisible focusable" href="#tutorial-nav">{lv-accessibility-tutnav-en}</a>
			<a class="totallyinvisible focusable" href="#tutorial-body">{lv-accessibility-tutbody-en}</a>
		{/if}
	</div>
	
	{if logged_out}
	<div id="top_login" class="slide">
		<div class="container clearfix">
			{exp:member:login_form 
				return="{global:base_url}/{freebie_original_uri}"
				form_class="form form-inline form-hide-labels fr pvs"
				form_name="top_login_form"
				form_id="top_login_form"
				}
			    	<label for="top_login_username">Username or email</label>
			    	<input type="text" class="input-small required" required name="username" id="top_login_username" value="" maxlength="32" placeholder="Email or username">
			    	<label for="top_login_password">Password</label>
			    	<input type="password" class="input-xsmall required" required name="password" id="top_login_password" value="" maxlength="32" placeholder="Password">
			    	<button type="submit" class="button button-tiny">Log in</button>
			    	<a class="fs-smaller" href="{path='forums/member/forgot_password'}">Forgot your password?</a>
			    								        
			{/exp:member:login_form}
		</div>
	</div>
	{/if}
	
	<div id="header" role="banner">
		
		<div id="meta">
			<div class="container clearfix posr">
				<div id="sitelogo" class="fl" >
					<a id="logolink" href="{site_url}" title="{lv-logotitle-en}">
						
						<div id="logo" class="posa">
							<div id="logoinner">
								<div id="logofront" class="posa">
									<img src="{site_url}css/images/logo-forflip.png" alt="OSLC Logo" />
								</div>
								{!-- These handy tags block the Google index from adding this blurb --}
								<!--googleoff: index-->
								<div id="logoback" class="posa">
									<span class="gohome posa dispb">({lv-gohome-en})</span>
								</div>
								<!--googleon: index-->
							</div>
							
						</div>
						
						<span class="sitetitle-text dispib">
							<span class="sitetitle-top dispb">{lv-sitelabel-en}</span>
							<span class="sitetitle-bottom dispb posr">{lv-tagline-en}</span>
						</span>
					</a>
				</div>{!-- /#sitelogo --}
				
				<ul id="metanav" class="nav pan mhn mtm mbs fr" role="navigation">
					{exp:channel:entries 
						channel="oslc_web_applications" 
						dynamic="off" 
						{global:disable_default}
					}
						<li><a href="{cf-app-t-url}">{title}</a></li>
					{/exp:channel:entries}
					
					{if logged_out}
						<li class="mll"><a data-toggle="reveal" data-show-selector="#top_login" data-toggle-class="in" data-prevent-default="y" href="{path='forums/member/login'}">Log in</a></li>
						<li><a class="mlm" href="{path='forums/member/register'}">Sign up</a></li>
					{if:else}
						<li class="mll"><a href="{path='forums/member/profile'}">{screen_name}</a></li>
						<li><a style="font-size: 80%;line-height: 1.5;" href="{path='logout'}">(Log out)</a></li>
					{/if}
				</ul>					
				
				
			</div>
		</div>{!-- /#meta --}
		
		<div id="nav" class="nav">
			<div class="container clearfix">
				<div id="mainnav" class="fl" role="navigation">
					{if {exp:stash:not_empty name="nav_links"} }
					{exp:stash:get name="nav_links"}
					{if:else}
					{exp:structure:nav max_depth="1" css_class="clearfix" current_class="current" exclude="52|{lv-notinmainnav}"}
					{/if}
					
				</div>
				
				{!-- Not ready for prime time --}
				{if global:env != "production"}
				
					<div class="fr mts">
						{exp:search:simple_form 
							search_in="entries"
							where="any"
							result_page="search/index"
							no_result_page="search/noresults"
							channel="{lv-searchable-channels}"
						}
							<label for="keywords" class="totallyinvisible">{lv-search-en}</label> 
							<input class="input text" type="search" placeholder="Search&hellip;" name="keywords" id="keywords" value="" />
							<button class="button nw tiny-button mrn" type="submit">{lv-searchaction-en}</button>
						{/exp:search:simple_form}					
					</div>
				
				{/if}
				
			</div>
		</div>
		
	</div>{!-- /#header --}
	
	<div id="main">
		<div id="main-inner">
			
			{!-- Breadcrumbs + big title on every page but home page --}
			{if segment_1 != ""}
			
				{!-- Breadcrumbs 
					If there's no Structure entry_id (like on some 404s) the breadcrumbs will be wonky, so hide them.
				--}
				{if structure:page:entry_id != '' || {exp:stash:not_empty name='breadcrumbs'} == '1'} {!-- stash:not_empty returns "0" or "1" --}
					<div role="navigation">
						{if {exp:stash:not_empty name='breadcrumbs'} }
							{exp:stash:get name="breadcrumbs"}
						{if:else}
							{exp:structure:breadcrumb inc_here="no" separator="/" }
						{/if}
						 /
					 </div>
				{/if}
								
				{!-- Removing this while I have the survey ribbon March 2012 
				{if embed:pagetype == "blog_listing"}
					<a class="button rss-feed fr" href="{path='rss'}">{lv-rsslabel-en}</a>
				{/if}
				 --}
				
				<h1 class="pagetitle mtn ptn">
					{if {exp:stash:not_empty name="pagetitle"} }
						{exp:stash:get name="pagetitle"}
					{if:elseif embed:pagetitle}
						{embed:pagetitle}				
					{if:else}
						{structure:page:title}
					{/if}
					
					{if embed:pagetype == "blog_listing"}
						<small style="font-size: 14px;"><a href="{path='rss'}">({lv-rsslabel-en})</a></small>
					{/if}
				</h1>

			{/if}
												
			<div id="main_content" class="ptm pbl" {if embed:pagetype != "tutorial"}role="main"{/if}>
							
				{!-- Simple body, if stashed --}
				<div class="body-text">
					{exp:stash:get name="stash-simple-body"}
				</div>
				
				{!-- Main_content stash. For more complex pages. --}
				{exp:stash:get name="main_content"}
				
				{if structure:page:entry_id == lv-webcast-notify-form}
				
					{!-- Form to sign people up for the mailing list to be notified of webcasts --}
					{exp:freeform:form
						form_name="webcast-mailing-list"
						required="email"
						admin_notify="leereamsnyder@us.ibm.com"
						prevent_duplicate_on="email"
						return="{structure:page:uri}success/"
						mailinglist="webcast-notify"
						mailinglist_opt_in="no"
						form:id="webcast_notify"
						form:class="form form-horizontal form-validate size4of5"
					}
					
						{if freeform:duplicate}
							{!-- Don't show this message on a successful submission --}
							{if freebie_last != "success"}
								<div class="callout-box body-text">
									<p>{lv-mailinglist-alreadysubmitted}</p>
								</div>
							{/if}
						{/if}
						
						{if freebie_last == "success"}
							<div class="callout-box body-text success">
								<p>{lv-mailinglist-success-en}</p>
							</div>
						{/if}
						
						{!-- Only show the form if they haven't successfully submitted anything --}
						{if freebie_last != "success"}
						
							<fieldset>
							
								<legend>Provide your email address</legend>
							
								<div class="control-group">
									<label for="webcast_notify_email">{lv-emaillabel-en}</label>
									
									<div class="controls">
										{!-- .required needed here b/c old IE and really old FF don't recognize the "required" attribute. The JS validation will catch it here --}
										<div class="input-wrap">
											<input class="required" placeholder="you@example.com" required type="email" name="email" id="webcast_notify_email" {if logged_in}value="{logged_in_email}"{/if} />
										</div>
										
									</div>
									
								</div>
								
								<div class="hide">
								{!-- Outputs form to sign up for the appropriate mailing list --}
								{freeform:field:mailing_list}
								</div>
							
							</fieldset>
							
							
							<div class="form-actions"><button type="submit" class="button">Sign up</button></div>
							

						{/if}						
					
					{/exp:freeform:form}
				
				{/if}{!-- End Webcast Notify page --}

				<hr class="shadow-divider" />
			
			</div>{!-- /#main-content --}
		</div>{!-- /#main-inner --}
	</div>{!-- /#main --}
	
	<div id="footer">
	    <div id="footer_inner" class="container">
	    
	    <div class="clearfix">
	    	
	    	<div id="footer_soc_media" class="nav">
				<ul class="clearfix">
				
				{exp:channel:entries
					fixed_order="{lv-footersociallinks}"
					{global:disable_default}
					dynamic="no"
				}
					<li>
						<a href="{cf-social-t-url}" title="{title}">
							<img src="{exp:ed_imageresizer image="{cf-social-file-footer}" maxWidth="32" href_only="yes"}" alt="{title}">
						</a>
					</li>
						
				{/exp:channel:entries}
				
				</ul>
			</div>
	    	
	    	<div id="footer_links" class="nav">
				<ul class="clearfix">
					{exp:channel:entries
            fixed_order="{lv-notinmainnav}"
            {global:disable_default}
            dynamic="no"
          }
          
						<li><a href="{page_url}">{title}</a></li>
						
					{/exp:channel:entries}
					<li><a href="{path='rss'}/">RSS</a></li>
					<li>{encode="{webmaster_email}" title="{lv-feedback-en}"}</li>
				</ul>
			</div>{!-- /#footer_links --}
	    	
	    </div>{!-- /.clearfix --}
	    
	    <div id="copyright" class="clear mtm small">
			
			{exp:smartdown}{lv-copyright-en}{/exp:smartdown}
			
		</div>{!-- /#copyright --}
	    
	    </div>{!-- /#footer_inner --}
	</div>{!-- /#footer --}

		
	{!-- My Javascript --}
	<script src="{exp:cache_buster file='/js/oslc.js'}"></script>
	
	{!-- Dean Edwards IE8 compatibility script for IE7 or lower --}
	<!--[if lte IE 7]>
	<script src="http://ie7-js.googlecode.com/svn/version/2.1%28beta4%29/IE8.js"></script>
	<![endif]-->
	
	{!-- Analytics --}
	{if global:google_analytics_key != ''}
	<script>
		var _gaq=[['_setAccount','UA-24416914-1'],['_setDomainName', '.open-services.net'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
	{/if}
		
</body>
</html>